<div class="header-middle" style="background-image: url(/img/example/bg.jpg);">
            <span  data-toggle="modal" data-backdrop="static" data-target="#addPhotoProfile">
                <span class="custom-header__upload icon-camera2" data-toggle="tooltip"
                  data-placement="left" title="Заменить портрет"></span></span>

    <div class="header-media">
        <div class="header-media-img">
            <div class="media-img">
                <img class="profile-img" src="/img/example/avatar.jpg" alt="">
                <span  data-toggle="modal" data-backdrop="static" data-target="#addPhotoProfile">
                <span class="custom-header__upload upload-profile-img icon-camera2" data-toggle="tooltip"
                      data-placement="bottom" title="Заменить портрет"></span></span>
            </div>
        </div>
        <div class="header-media-content media-bottom">
            <div class="profile clearfix">
                <div class="profile-info pull-left">
                    <span class="name">ГЕНЕРАЛОВА ЕЛЕНА НИКОЛАЕВНА</span>
                    <span class="location">Россия, Камчатский край, г. Петропавловск-Камчатский</span>
                </div>
                <div class="profile-actions pull-right">
                    <ul class="text-right list-unstyled">
                        <li>
                            <a href="">Добавить в друзья</a>
                        </li>
                        <li>
                            <a href="">Отслеживать публикации</a>
                        </li>
                        <li>
                            <a href="">Написать сообщение</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
