    <a href="#" class="login-avatar pull-left">
        <img src="/img/example/ava-mini.png" alt="">
        <span class="icon-user"></span>
    </a>

    <div class="login-actions pull-left">
        <ul class="login-lang list-unstyled">
            <li>Рус</li>
            <li><a href="#">Eng</a></li>
        </ul>

        <ul class="login-options pull-left list-unstyled">
            <li class="login-options__item">
                <a href="#" class="icon-my-friends" data-toggle="tooltip" data-placement="bottom"
                   title="Запрос на добавления в друзья"></a>
            </li>
            <li class="login-options__item login-options-active">
                <a href="#" class="icon-messages" data-toggle="tooltip" data-placement="bottom"
                   title="Сообщения"></a>
            </li>
            <li class="login-options__item">
                <a href="#" class="icon-message-load" data-toggle="tooltip" data-placement="bottom"
                   title="Уведомления"></a>
            </li>
            <li class="login-options__item login-options-active">
                <a href="#" class="icon-exit" data-toggle="tooltip" data-placement="bottom"
                   title="Выход"></a>
            </li>
        </ul>
    </div>
