<div class="custom-header" style="background-image: url(/img/bg.jpg);">
        <span class="custom-header__upload icon-camera2" data-toggle="tooltip" data-placement="bottom"
              title="Заменить фоновое изображение"></span>

    <div class="custom-header-img">
        <div>
            <img src="/img/example/avatar.jpg" alt="">
            <span class="custom-header__upload icon-camera2" data-toggle="tooltip"
                  data-placement="bottom" title="Заменить портрет"></span>
        </div>
    </div>

    <div class="wrap">
        <ul class="custom-header-info list-unstyled">
            <li class="name">Генералова Елена Николаевна</li>
            <li class="location">Россия, Камчатский край, г. Петропавловск-Камчатский</li>
        </ul>

        <ul class="custom-header-actions list-unstyled">
            <li><a href="#">Добавить в друзья</a></li>
            <li><a href="#">Отслеживать публикации</a></li>
            <li><a href="#">Написать сообщение</a></li>
        </ul>
    </div>
</div>
