<div class="header-bottom text-center">
    <div class="profile-tabs owl-carousel" id="owl-carousel-2">
        <div class="li">
            <a href="#" class="icon-chronicle">
                <span>Хроника</span>
            </a>
        </div>
        <div class="li">
            <a href="#" class="icon-dog">
                <span>Мои собаки</span>
            </a>
        </div>
        <div class="li">
            <a href="#" class="icon-paw">
                <span>Мои щенки</span>
            </a>
        </div>
        <div class="li">
            <a href="#" class="icon-graduates">
                <span>Мои выпускники</span>
            </a>
        </div>
        <div class="li">
            <a href="#" class="icon-friends">
                <span>Друзья</span>
            </a>
        </div>
        <div class="li">
            <a href="#" class="icon-messages">
                <span>Общение</span>
            </a>
        </div>
        <div class="li">
            <a href="#" class="icon-nursery">
                <span>Мои клубы</span>
            </a>
        </div>
        <div class="li">
            <a href="#" class="icon-user">
                <span>Личные данные</span>
            </a>
        </div>
    </div>
</div>
