<nav class="header-nav text-center">
    <div class="header-nav-wrap">
        <ul class="header-nav-list list-unstyled">
            <li><a href="#">Собаки</a></li>
            <li class="current"><a href="#">Щенки</a></li>
            <li><a href="#">Сообщество</a></li>
            <li><a href="#">Организации</a></li>
        </ul>

        <ul class="nav-arrows list-unstyled">
            <li class="icon-prev"></li>
            <li class="icon-next" data-count="1"></li>
        </ul>
    </div>
</nav>
