<nav class="profile-menu text-center">
    <ul class="profile-menu-list list-unstyled">
        <li>
            <a href="#" class="icon-chronicle">
                <span>Хроника</span>
            </a>
        </li>
        <li class="current">
            <a href="#" class="icon-dog">
                <span>Мои собаки</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon-paw">
                <span>Мои щенки</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon-graduates">
                <span>Мои выпускники</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon-friends">
                <span>Друзья</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon-messages">
                <span>Общение</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon-nursery">
                <span>Мои клубы</span>
            </a>
        </li>
        <li>
            <a href="#" class="icon-user">
                <span>Личные данные</span>
            </a>
        </li>
    </ul>

    <ul class="nav-arrows list-unstyled">
        <li class="icon-prev"></li>
        <li class="icon-next" data-count="1"></li>
    </ul>
</nav>
