.radio label:not(:last-child) {
  margin-right: 15px;
}

@include from('l') {
  .radio label:not(:last-child) {
    margin-right: 20px;
  }
}

/*
<label class="label-checkbox">
    <input type="checkbox" class="checkbox-custom">
    <span class="checkbox-custom-view">для вязки</span>
</label>
*/

.checkbox-custom {
  display: none;
  &:checked + .checkbox-custom-view {
    &:before {
      border-color: $color-azure-link;
    }
    &:after {
      visibility: visible;
    }
  }
  &-view {
    padding-left: 20px;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    line-height: 1;
    align-items: center;
    flex-wrap: wrap;
    &:before {
      width: 15px;
      height: 15px;
      margin-right: 15px;
      top: 0;
      left: 0;
      position: absolute;
      background-color: #ffffff;
      content: '';
      border: 1px solid $color-azure-link;
      transition: all 0.3s ease;
    }
    &:after {
      width: 10px;
      height: 5px;
      top: 4px;
      left: 3px;
      position: absolute;
      border-bottom: 2px solid $color-azure-link;
      border-left: 2px solid $color-azure-link;
      content: '';
      visibility: hidden;
      transform: rotate(-45deg);
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    a, span {
      padding-left: 5px;
    }
  }
}

/*
<label class="label-custom">
    <input type="radio" name="radio01" class="radio-custom">
    <span class="radio-custom-view">владелец</span>
</label>
*/

.radio-custom {
  display: none;
  &:checked + .radio-custom-view {
    &:before {
      border-color: $color-azure-link;
    }
    &:after {
      visibility: visible;
    }
  }
  &-view {
    padding-left: 20px;
    cursor: pointer;
    position: relative;
    top: -1px;
    display: inline-flex;
    line-height: 1;
    align-items: center;
    flex-wrap: wrap;
    &:before {
      width: 15px;
      height: 15px;
      margin-right: 15px;
      top: 0;
      left: 0;
      position: absolute;
      background-color: #ffffff;
      content: '';
      border: 1px solid $color-azure-link;
      border-radius: 50%;
      transition: all 0.3s ease;
    }
    &:after {
      width: 7px;
      height: 7px;
      top: 4px;
      left: 4px;
      position: absolute;
      content: '';
      border-radius: 50%;
      background-color: #1497a7;
      visibility: hidden;
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    a, span {
      padding-left: 5px;
    }
  }
}
