$color-black: #000000;
$color-white: #ffffff;

$color-grey: #8b8b8b;
$color-grey-very-light: #f9f9f9;
$color-grey-light: #f5f3f4;
$color-grey-dark: #7b7b7b;
$color-gray: #ebebeb;

$color-azure: #00adbf;
$color-azure-light: #6fd2db;
$color-azure-link: #1497a7;
$color-azure-bottom: #34a2b0;
$color-orange: #ed5901;
$color-blue: #01a1ff;
$color-pink: #da0861;
