<footer>
    <div class="container clearfix">
        <div class="pre-footer">
            <!--            <p class="text-center text-uppercase" style="color: red;">Внимание!</p>
                        <p>Все предложения о вязке собак, цены размещенные на портале, носят справочный характер и не являются
                            публичной офертой.<br>
                            Обновление информации о вязске собак производится владельцами самостоятельно в онлайн режиме.</p>-->
        </div>

        <ul class="col-sm-4 footer-copy text-uppercase">
            <li>Сервер открыт 1 июня 2017 г.</li>
            <li>@ ООО клубок.ру 2016-1017</li>
        </ul>

        <ul class="col-sm-2 footer-links text-uppercase">
            <li><a href="#">Для заводчиков</a></li>
            <li><a href="#">О портале</a></li>
        </ul>

        <ul class="col-sm-2 footer-links text-uppercase">
            <li><a href="#">Наша команда</a></li>
            <li><a href="#">Реклама на портал</a></li>
        </ul>

        <div class="col-sm-4 footer-counters text-right">
            <img src="/img/yandex.png" alt="">
            <img src="/img/mail.gif" alt="">
        </div>
    </div>
</footer>

<script src="/js/jquery.js"></script>
<script src='/js/lib.js'></script>
<script src='/js/common.js'></script>

<!-- include "templates/modal.html" -->
