</div>
<footer class="footer-container">
    <div class="content-container clearfix text-right">
        <div class="col-66-60-45">
            <div class="clearfix">
                <div class="copyrights col-40-55-100 text-left">
                    <span>Сервер открыт 1 июня 2017 г.</span>
                    <br>
                    <span>@ ООО клубок.ру 2016-1017</span>
                </div>
                <div class="links col-60-45-100 text-left">
                    <div class="clearfix">
                        <div class="links-one col-60-100-100">
                            <a href="">Для заводчиков и клубов</a>
                            <br>
                            <a href="">О портале</a>
                        </div>
                        <div class="links-two col-0-100-100">
                            <a href="">Наша команда</a>
                            <br>
                            <a href="">Реклама на портал</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-couners">
            <img src="img/yandex.png">
            <img src="img/mail.gif">
        </div>
    </div>
</footer>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src='js/lib.js'></script>

<script src='js/jquery.ba-throttle-debounce.min.js'></script>
<script src='js/menu.js'></script>
