<footer>
    <div class="container clearfix">
        <div class="pre-footer">
            <!-- тут можно написать любое сообщение
                        <p class="text-center text-uppercase" style="color: red;">Внимание!</p>
                        <p>Все предложения о вязке собак, цены размещенные на портале, носят справочный характер и не являются
                            публичной офертой.<br>
                            Обновление информации о вязске собак производится владельцами самостоятельно в онлайн режиме.</p>-->
        </div>

        <div class="clearfix text-right">
            <div class="col-66-60-45">
                <div class="clearfix">
                    <div class="copyrights col-40-55-100 text-left">
                        <span>Сервер открыт 1 июня 2017 г.</span>
                        <br>
                        <span>@ ООО клубок.ру 2016—2017</span>
                    </div>
                    <div class="links col-60-45-100 text-left">
                        <div class="clearfix">
                            <div class="links-one col-60-100-100">
                                <a href="#">Для заводчиков и клубов</a>
                                <br>
                                <a href="#">О портале</a>
                            </div>
                            <div class="links-two col-0-100-100">
                                <a href="#">Наша команда</a>
                                <br>
                                <a href="#">Реклама на портал</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-couners">
                <img src="/img/example/yandex.png">
                <img src="/img/example/mail.gif">
            </div>
        </div>
    </div>
</footer>

<script src='/js/jquery.js'></script>
<script src='/js/bootstrap.min.js'></script>
<script src='/js/jquery.fancybox.min.js'></script>
<script src='/js/slick.js'></script>
<script src='/js/cropper.min.js'></script>
<script src='/js/jquery.ba-throttle-debounce.min.js'></script>
<script src='/js/menu.jquery.js'></script>
<script src='/js/common.js'></script>

<!-- include "templates/modal.html" -->
