<header class="panel content-container">
    <div class="header-top clearfix text-center">
        <div class="logo pull-left">
            <a href="#">
                <img src="/img/logo.png" alt="">
            </a>
        </div>

        <div class="login pull-right">
            <!-- include "templates/header/login-user-area.html" -->
        </div>

        <nav class="header-nav text-center">
            <div class="header-nav-slider">
                <ul class="owl-carousel list-unstyled" id="owl-carousel-1">
                    <li><a href="">Собаки</a></li>
                    <li><a href="">Щенки</a></li>
                    <li><a href="">Сообщество</a></li>
                    <li><a href="">Организации</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- include "templates/breadcrumbs.html" -->

    <div class="header-middle" style="background-image: url(/img/example/bg.jpg);">
            <span class="custom-header__upload icon-camera2" data-toggle="tooltip"
                  data-placement="bottom" title="Заменить портрет"></span>

        <div class="header-media">
            <div class="header-media-img">
                <div class="media-img">
                    <img class="profile-img" src="/img/example/avatar.jpg" alt="">
                    <span class="custom-header__upload upload-profile-img icon-camera2" data-toggle="tooltip"
                          data-placement="bottom" title="Заменить портрет"></span>
                </div>
            </div>
            <div class="header-media-content media-bottom">
                <div class="profile clearfix">
                    <div class="profile-info pull-left">
                        <span class="name">ГЕНЕРАЛОВА ЕЛЕНА НИКОЛАЕВНА</span>
                        <span class="location">Россия, Камчатский край, г. Петропавловск-Камчатский</span>
                    </div>
                    <div class="profile-actions pull-right">
                        <ul class="text-right list-unstyled">
                            <li>
                                <a href="">Добавить в друзья</a>
                            </li>
                            <li>
                                <a href="">Отслеживать публикации</a>
                            </li>
                            <li>
                                <a href="">Написать сообщение</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom text-center">
        <ul class="profile-tabs owl-carousel list-unstyled" id="owl-carousel-2">
            <li>
                <a href="#" class="icon-chronicle">
                    <span>Хроника</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon-dog">
                    <span>Мои собаки</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon-paw">
                    <span>Мои щенки</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon-graduates">
                    <span>Мои выпускники</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon-friends">
                    <span>Друзья</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon-messages">
                    <span>Общение</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon-nursery">
                    <span>Мои клубы</span>
                </a>
            </li>
            <li>
                <a href="#" class="icon-user">
                    <span>Личные данные</span>
                </a>
            </li>
        </ul>
    </div>
</header>
