<header class="panel content-container">
    <div class="header-top clearfix text-center">
        <div class="logo pull-left">
            <a href="#">
                <img src="/img/logo.png" alt="">
            </a>
        </div>

        <div class="login pull-right">
            <!-- include "templates/header/login-user-area.html" -->
        </div>

        <!-- include "templates/header/header-nav.html" -->
    </div>

    <!-- include "templates/breadcrumbs.html" -->

    <!-- include "templates/header/header-middle.html" -->

    <!-- include "templates/header/profile-menu.html" -->
</header>
