<div class="page">
    <!--    <div class="loader">
            <div class="loader_inner"></div>
        </div>-->
    <div class="panel content-container">
        <header>
            <section class="header-top clearfix text-center">
                <a href="" class="logo pull-left">
                    <img src="img/logo.png">
                </a>
                <div class="user-menu pull-right">
                    <a href="" class="ava-mini pull-left">
                        <img src="img/ava-mini.png">
                    </a>
                    <div class="user-actions pull-left">
                        <div class="language text-left">
                            <a href="" class="active-language">Рус</a>
                            <a href="">Eng</a>
                        </div>
                        <ul class="options pull-left">
                            <li class="users">
                                <a href="" class="smaller-icon" data-toggle="tooltip" data-placement="bottom"
                                   title="Запрос на добавления в друзья"></a>
                            </li>
                            <li class="message active-options">
                                <a href="" class="smaller-icon" data-toggle="tooltip" data-placement="bottom"
                                   title="Сообщения"></a>
                            </li>
                            <li class="notes">
                                <a href="" class="smaller-icon" data-toggle="tooltip" data-placement="bottom"
                                   title="Уведомления"></a>
                            </li>
                            <li class="logout active-options">
                                <a href="" class="smaller-icon" data-toggle="tooltip" data-placement="bottom"
                                   title="Выход"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <nav class="header-nav text-center">
                    <div class="header-nav-slider">
                        <ul class="owl-carousel" id="owl-carousel-1">
                            <li><a href="">Собаки</a></li>
                            <li><a href="">Щенки</a></li>
                            <li><a href="">Сообщество</a></li>
                            <li><a href="">Организации</a></li>
                        </ul>
                    </div>
                </nav>
            </section>
            <div class="breadcrumbs">
                <a href="">Начало</a>
                <a href="">Владельцам собак</a>
                <a href="">Генералова Елена Николаевна</a>
            </div>
            <section class="header-middle">
                <a href="" class="upload-bg-img upload-img" data-toggle="tooltip" data-placement="bottom"
                   title="Заменить фоновое изображение"></a>
                <div class="header-media">
                    <div class="header-media-img">
                        <div class="media-img">
                            <img class="profile-img" src="img/avatar.jpg">
                            <a href="" class="upload-profile-img upload-img" data-toggle="tooltip"
                               data-placement="bottom" title="Заменить портрет"></a>
                        </div>
                    </div>
                    <div class="header-media-content media-bottom">
                        <div class="profile clearfix">
                            <div class="profile-info pull-left">
                                <span class="name">Генералова Елена Николаевна</span><br>
                                <span class="location">Россия, Камчатский край, г. Петропавловск-Камчатский</span>
                            </div>
                            <div class="profile-actions pull-right">
                                <ul class="text-right">
                                    <li>
                                        <a href="">Добавить в друзья</a>
                                    </li>
                                    <li>
                                        <a href="">Отслеживать публикации</a>
                                    </li>
                                    <li>
                                        <a href="">Написать сообщение</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="header-bottom text-center">
                <ul class="profile-tabs owl-carousel" id="owl-carousel-2">
                    <li>
                        <a href="">
                            <div class="icon icon-hronika"></div>
                            <span>Хроника</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon icon-my_dogs"></div>
                            <span>Мои собаки</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon icon-my_dog"></div>
                            <span>Мои щенки</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon icon-my_vipuskniky"></div>
                            <span>Мои выпускники</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon icon-friends"></div>
                            <span>Друзья</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon icon-soobscheniya"></div>
                            <span>Общение</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon icon-my_pitomnik"></div>
                            <span>Мои клубы</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="icon icon-user"></div>
                            <span>Личные данные</span>
                        </a>
                    </li>
                </ul>
            </section>
        </header>
