<br>
<br>
<div class="text-center" style="color: red;"><strong>1</strong></div>
<br>
<br>


<table class="table">
    <tbody>
    <tr>
        <td class="label-block text-bold field-filled">ФИО:</td>
        <td class="info-block">Генералова Елена <span class="error-text">(отчество не заполнено)</span></td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold">Выбрать пол:</td>
        <td class="info-block"></td>
        <td class="btn-block"></td>
    </tr>
    <tr>
        <td class="label-block text-bold">Добавить дату рождения</td>
        <td class="info-block"></td>
        <td class="btn-block"></td>
    </tr>
    <tr>
        <td class="label-block text-bold">Добавить домашний адрес</td>
        <td class="info-block"></td>
        <td class="btn-block"></td>
    </tr>
    <tr>
        <td class="label-block text-bold">Добавить телефон</td>
        <td class="info-block"></td>
        <td class="btn-block"></td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">E-mail:</td>
        <td class="info-block"><a href="mailto:elenaprekrasnaya@mail.ru">elenaprekrasnaya@mail.ru</a></td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Пароль:</td>
        <td class="info-block">* * * * * *</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold">Добавить заводскую проиставку</td>
        <td class="info-block"></td>
        <td class="btn-block"></td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Мои контактные данные видны:</td>
        <td class="info-block">
            <form action="#">
                <div class="radio">
                    <label><input type="radio" name="radio"> только мне</label>

                    <label><input type="radio" name="radio"> только друзьям</label>

                    <label><input type="radio" name="radio"> всем</label>
                </div>
            </form>
        </td>
        <td class="btn-block"></td>
    </tr>
    <tr>
        <td class="label-block text-bold">Добавить паспортные данные</td>
        <td class="info-block">(будут отображаться толко в договорах купли продажи собак и щенков)</td>
        <td class="btn-block"></td>
    </tr>
    </tbody>
</table>

<br>
<br>
<hr>
<div class="text-center" style="color: red;"><strong class="text-center">2</strong></div>
<br>
<br>

<table class="table">
    <tbody>
    <tr>
        <td class="label-block text-bold field-filled">ФИО:</td>
        <td class="info-block">Генералова Елена Николаевна</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Выбрать пол:</td>
        <td class="info-block">женский</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Добавить дату рождения</td>
        <td class="info-block">04.11.1976 г.</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Добавить домашний адрес</td>
        <td class="info-block">606480, Россия, Орловская область, г. Мценск, ул. Полярная, д. 10, кв. 45
        </td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="map" colspan="3">
            <img src="img/map.gif" alt="">
            <button class="btn-azure">ПЕРЕНЕСТИ МЕТКУ</button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Добавить телефон</td>
        <td class="info-block">
            <div>мобильный +7 (976) 456-23-98</div>
            <div>домашний +7 (495) 412-22-11</div>
        </td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">E-mail:</td>
        <td class="info-block"><a href="mailto:elenaprekrasnaya@mail.ru">elenaprekrasnaya@mail.ru</a></td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Пароль:</td>
        <td class="info-block">* * * * * *</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Заводская приставка:</td>
        <td class="info-block">Северный рубин / Severniy rubin (после клички) от 12.12.2006 г.</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Мои контактные данные видны:</td>
        <td class="info-block">
            <form action="#">
                <div class="radio">
                    <label><input type="radio" name="radio"> только мне</label>

                    <label><input type="radio" name="radio"> только друзьям</label>

                    <label><input type="radio" name="radio"> всем</label>
                </div>
            </form>
        </td>
        <td class="btn-block"></td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Паспортные данные:</td>
        <td class="info-block">серия и номер паспорта - 4413 788256
            выдан - отделением по району Марьино ОУФМС России по гор. Москве в ЮВАО
            код подразделения - 770-106
            дата выдачи - 11.09.2001 г.
        </td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    </tbody>
</table>

<br>
<br>
<hr>
<div class="text-center" style="color: red;"><strong class="text-center">3</strong></div>
<br>
<br>

<table class="table">
    <tbody>
    <tr>
        <td class="label-block text-bold field-filled">ФИО:</td>
        <td class="info-block">
            Генералова Елена Николаевна
            <div><span class="as-link text-bold">Показать ФИО, которые были внесены ранее (2)</span></div>
        </td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Выбрать пол:</td>
        <td class="info-block">женский</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Добавить дату рождения</td>
        <td class="info-block">04.11.1976 г.</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Добавить домашний адрес</td>
        <td class="info-block">606480, Россия, Орловская область, г. Мценск, ул. Полярная, д. 10, кв. 45
        </td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="map" colspan="3">
            <img src="img/map.gif" alt="">
            <button class="btn-azure">ПЕРЕНЕСТИ МЕТКУ</button>
        </td>
    </tr>
    <tr>
        <td class="label-block"></td>
        <td colspan="2" class="show-more-address">
            <div class="text-bold">
                <span class="as-link">Показать домашние адреса, которые были внесены ранее (2)</span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Добавить телефон</td>
        <td class="info-block">
            <div>мобильный +7 (976) 456-23-98</div>
            <div>домашний +7 (495) 412-22-11</div>
        </td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">E-mail:</td>
        <td class="info-block"><a href="mailto:elenaprekrasnaya@mail.ru">elenaprekrasnaya@mail.ru</a></td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Пароль:</td>
        <td class="info-block">* * * * * *</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Заводская приставка:</td>
        <td class="info-block">Северный рубин / Severniy rubin (после клички) от 12.12.2006 г.</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Мои контактные данные видны:</td>
        <td class="info-block">
            <form action="#">
                <div class="radio">
                    <label><input type="radio" name="radio"> только мне</label>

                    <label><input type="radio" name="radio"> только друзьям</label>

                    <label><input type="radio" name="radio"> всем</label>
                </div>
            </form>
        </td>
        <td class="btn-block"></td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Паспортные данные:</td>
        <td class="info-block">серия и номер паспорта - 4413 788256
            выдан - отделением по району Марьино ОУФМС России по гор. Москве в ЮВАО
            код подразделения - 770-106
            дата выдачи - 11.09.2001 г.
        </td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    </tbody>
</table>


<br>
<br>
<hr>
<div class="text-center" style="color: red;"><strong class="text-center">4</strong></div>
<br>
<br>

<table class="table">
    <tbody>
    <tr>
        <td class="label-block text-bold field-filled">ФИО:</td>
        <td class="info-block">
            Генералова Елена Николаевна
            <div class="color-grey-dark">Меркулова Елена Николаевана (01.01. 1995 г. - 16.11.1997 г.)</div>
            <div class="color-grey-dark">Генералова Елена Николаевана (19.11.2990 г. - 31.12.1994 г.)</div>
            <div><span class="as-link text-bold">Скрыть ФИО, которые были внесены ранее (2)</span></div>
        </td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Выбрать пол:</td>
        <td class="info-block">женский</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Добавить дату рождения</td>
        <td class="info-block">04.11.1976 г.</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Добавить домашний адрес</td>
        <td class="info-block">606480, Россия, Орловская область, г. Мценск, ул. Полярная, д. 10, кв. 45
        </td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="map" colspan="3">
            <img src="img/map.gif" alt="">
            <button class="btn-azure">ПЕРЕНЕСТИ МЕТКУ</button>
        </td>
    </tr>
    <tr>
        <td class="label-block"></td>
        <td colspan="2" class="show-more-address">
            <div class="color-grey-dark">606480, Россия, Орловская область, г. Мценск, ул. Северная, д. 1,
                кв. 196
                (01.01.1996 г. - 16.11.1997 г.)
            </div>
            <div class="color-grey-dark">663318, Россия, Красноярский край, г. Норильск, ул. Нансена, д. 26,
                кв. 196
                (01.01.1990 г. - 31.12.1996 г.)
            </div>

            <div class="text-bold">
                <span class="as-link">Скрыть домашние адреса, которые были внесены ранее (2)</span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Добавить телефон</td>
        <td class="info-block">
            <div>мобильный +7 (976) 456-23-98</div>
            <div>домашний +7 (495) 412-22-11</div>
        </td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">E-mail:</td>
        <td class="info-block"><a href="mailto:elenaprekrasnaya@mail.ru">elenaprekrasnaya@mail.ru</a></td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Пароль:</td>
        <td class="info-block">* * * * * *</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Заводская приставка:</td>
        <td class="info-block">Северный рубин / Severniy rubin (после клички) от 12.12.2006 г.</td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Мои контактные данные видны:</td>
        <td class="info-block">
            <form action="#">
                <div class="radio">
                    <label><input type="radio" name="radio"> только мне</label>

                    <label><input type="radio" name="radio" checked> только друзьям</label>

                    <label><input type="radio" name="radio"> всем</label>
                </div>
            </form>
        </td>
        <td class="btn-block"></td>
    </tr>
    <tr>
        <td class="label-block text-bold field-filled">Паспортные данные:</td>
        <td class="info-block">серия и номер паспорта - 4413 788256
            выдан - отделением по району Марьино ОУФМС России по гор. Москве в ЮВАО
            код подразделения - 770-106
            дата выдачи - 11.09.2001 г.
        </td>
        <td class="btn-block">
            <button class="btn-edit"></button>
        </td>
    </tr>
    </tbody>
</table>
