.ancestors {
  padding: 20px 10px;

  .father, .mother {
    font-size: 14px;
  }
  .father {
    color: #01A1FF;
  }
  .mother {
    color: #DA0861;
  }
  .btn-azure {
    width: 220px;
    margin: 0 0 0 150px;
    font-size: 14px;
  }
}

.ancestors-title {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.ancestors-wrap {
  margin: 0 auto;
  position: relative;
}

.ancestors-img {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  a {
    border-radius: 50%;
    display: inline-block;
  }
  .icon-male, .icon-bitch {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 0;
    right: 1px;
    z-index: 28;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 32px;
    &:before {
      position: absolute;
      top: -4px;
      left: -3px;
    }
  }
  .icon-male {
    color: #0a6eac;
  }
  .icon-bitch {
    color: #b51ea9;
  }
  img {
    border-radius: 50%;
    height: 100%;
  }

  &.bitch a {
      border: 3px solid #DA0861;
  }
  &.male a {
      border: 3px solid #03a2fe;
  }
}

.ancestors-current-dog .ancestors-img {
  width: 120px;
  a {
    width: 120px;
    height: 120px;
  }
}

.about-dog {
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

.ancestors-info {
  font-size: 12px;
  font-weight: 700;
  .dog-name {
    margin-bottom: 3px;
    text-transform: uppercase;
    display: inline-block;
  }
  .date {
    margin-left: 10px;
    display: inline-block;
  }
}

.ancestors-info-top {
  margin-bottom: 8px;
  .owners-wall-rates {
    margin-right: 10px;
    display: inline-block;
  }
}

.ancestors-list {
  font-size: 0;
  .ancestors-img a {
    width: 100px;
    height: 100px;
  }
  .ancestors-info {
    width: 280px;
    top: 90px;
  }
}

.father-ancestors {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  &:before, &:after {
    width: 2px;
    background-color: #b8b8b8;
    position: absolute;
    top: 30px;
    content: '';
  }
  &:before {
    left: 40px;
    height: 30px;
  }
  &:after {
    right: 49px;
    height: 120px;
  }

  .ancestors-grandmother {
    padding-right: 10px;
  }
  .ancestors-4 .ancestors-img {
    margin-right: 0;
  }
}

.mother-ancestors {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  &:before, &:after {
    width: 2px;
    background-color: #b8b8b8;
    position: absolute;
    top: 30px;
    content: '';
  }
  &:before {
    left: 50px;
    height: 30px;
  }
  &:after {
    right: 39px;
    height: 120px;
  }
  .grandfather-branch .ancestors-4 .ancestors-img {
    margin-left: 0;
  }
  .grandmother-branch .ancestors-4 .ancestors-img {
    margin-right: 0;
  }
  .ancestors-4 {
    &:before {
      left: 50px;
    }
    .gender {
      margin-left: 10px;
    }
  }
}

.ancestors-grandfather,
.ancestors-grandmother {
  .ancestors-img a {
    width: 80px;
    height: 80px;
  }
  .about-dog {
    position: relative;
  }
}

.ancestors-grandmother {
  width: 100%;
  .about-dog {
    @include clearfix;
  }
  .ancestors-img {
    float: right;
  }
  .ancestors-info {
    width: 100%;
    top: 0;
    left: 0;
    text-align: right;
    padding-right: 90px;
    padding-left: 60px;
  }
}

.ancestors-grandfather {
  .ancestors-info {
    width: 100%;
    left: 0;
    padding-left: 90px;
    padding-right: 60px;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.ancestors-4 {
  padding-left: 0;
  margin-bottom: 0;
  position: relative;
  list-style: none;
  &:before {
    width: 2px;
    height: calc(100% - 35px);
    background-color: #b8b8b8;
    position: absolute;
    top: 0;
    left: 40px;
    content: '';
  }
  li:not(:last-child) {
    margin-bottom: 35px;
  }
  .ancestors-img a {
    width: 60px;
    height: 60px;
  }

  .ancestors-wrap {
    display: flex;
    align-items: center;
  }
  .gender {
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 54px;
    margin-right: 5px;
    &:after {
      width: 12px;
      height: 2px;
      margin-top: 4px;
      background-color: #b8b8b8;
      content: '';
    }
  }

  .ancestors-info {
    width: 100%;
    left: 0;
    top: 5px;
    padding-left: 70px;
    padding-right: 5px;
  }
  .ancestors-img {
    width: 60px;
  }
}

.grandfather-branch .ancestors-4 .ancestors-img {
  margin-left: 0;
  margin-right: 0;
}

.grandmother-branch {
  width: 100%;
  .ancestors-4 {
    padding-top: 24px;
    padding-left: 0;
    &:before {
      left: auto;
      right: 49px;
    }
    .about-dog {
      width: 100%;
      padding-right: 65px;
      position: relative;
    }
    .ancestors-info {
      top: 0;
      padding-right: 135px;
      padding-left: 45px;
    }
    .gender {
      position: absolute;
      right: 7px;
      top: 14px;
      margin: 0;
      .father, .mother {
        order: 1;
      }
    }
  }
  .ancestors-grandfather .gender {
    top: -80px;
    right: -1px;
    div {
      display: flex;
      align-items: center;
      span {
        order: 1;
      }
      &:after {
        margin: 0 10px 0 0;
      }
    }
  }
}

.ancestors-dad {
  .about-dog {
    @include clearfix;
  }
  .ancestors-img {
    width: 100px;
    margin-left: 0;
  }
  .icon-male,
  .icon-bitch {
    bottom: 0;
    right: 1px;
  }
  .male {
    float: right;
  }
}

.ancestors-grandfather, .ancestors-grandmother {
  .ancestors-img {
    width: 80px;
    margin-left: 0;
  }
  .icon-male,
  .icon-bitch {
    bottom: -7px;
    right: 0;
  }
  .ancestors-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
