.comment-form {
  margin-bottom: 35px;
  padding: 15px 19px;
  border: 1px solid #bab8b9;
  border-radius: 5px;
  display: flex;

  .upload-photo {
    li {
      margin-bottom: 10px;
    }
    img {
      outline-offset: -1px;
      transition: all 0.3s ease;
      outline: 0 solid #00adbf;
      &:hover {
        outline-width: 1px;
      }
    }
  }
}

.comment-form-avatar {
  max-width: 50px;
  padding-right: 10px;
  flex: 1 0 50px;
  img {
    width: 40px;
    border-radius: 50%;
  }
}

.comment-form-group {
  padding-left: 10px;
  overflow: hidden;
  flex-grow: 1;
  textarea {
    padding: 11px 10px 0;
    height: 40px;
    min-height: 40px;
    margin: 0 0 15px;
    resize: none;
    overflow: hidden;
    width: 100%;
    border: 1px solid #00adbf;
    font-size: 14px;
    background-color: #ffffff;
    display: block;
    word-wrap: break-word;
  }
}

.comment-form-control {
  font-size: 0;
  float: left;
  padding-top: 7px;
  li {
    display: inline-block;
    vertical-align: top;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #1bbed2;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
    &:hover {
      color: #1497a7;
    }
  }
  .collapsed {
    color: #1497a7;
    &:hover {
      color: #1bbed2;
    }
  }
  .icon-camera2 {
    font-size: 20px;
  }
  .icon-upload {
    font-size: 17px;
  }
  .icon-clock {
    font-size: 20px;
  }
}

.comment-form-action .btn {
  width: 100%;
}

.clock-line {
  margin-bottom: 15px;
}

@include at('s') {
  .comment-form-action .btn {
    width: 48%;
    max-width: none;
    float: right;
  }

  .comment-form-action .form-control {
    width: 48%;
    float: left;
  }
  .comment-form-action {
    width: 100%;
    overflow: hidden;
  }
}

@include from('m') {
  .comment-form-action .btn {
    max-width: 220px;
  }
  .comment-form-action {
    float: right;
    width: 480px;
    @include clearfix;
    .form-control {
      width: 220px;
      float: left;
      margin: 0 20px;
    }
  }

  .comment-form-bottom {
    @include clearfix;
  }

  .comment-form .upload-photo {
    margin: 0 -10px 5px;
  }
  .clock-line {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-label {
      max-width: 117px;
      flex: 1 0 117px;
    }
    &-now {
      padding-right: 10px;
      padding-left: 10px;
      max-width: 240px;
      flex: 1 0 240px;
    }
    &-select {
      padding-left: 10px;
      max-width: 230px;
      flex: 1 0 230px;
    }
  }
}

@include to('s') {
  .comment-form-action .form-control {
    margin-bottom: 5px;
  }
  .comment-form-control {
    margin-bottom: 15px;
  }

  .comment-form .upload-photo {
    margin: 0 -5px 5px;
    display: flex;
    flex-wrap: wrap;
    li {
      width: 63px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .clock-line {
    li:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }
}

@include to('xs') {
  .comment-form-action .form-control {
    font-size: 13px;
  }
}
