.custom-header {
  padding: 10px 10px 10px 15px;
  position: relative;
  box-shadow: inset 0 1px 0 0 #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 100%;
  height: 100%;
  display: table;
  @include to('s') {
    overflow: hidden;
    padding-left: 10px;
  }
  .wrap {
    height: 210px;
    padding-bottom:10px;
    padding-left: 25px;
    display: table-cell;
    vertical-align: bottom;
    min-width: 120px;
    z-index: 6;
    position: relative;
    display: flex;
    justify-content: space-between;
    @include from('m') {
      align-items: flex-end;
    }
    @include to('s') {
      flex-wrap: wrap;
      flex-direction: column;
    }
    @include to('xs') {
      min-height: 220px;
      height: auto;
      padding-left: 20px;
    }
  }
  &:before {
    overflow: visible;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, .35);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0));
  }
  &:after {
    width: 100%;
    height: 10px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: #008391;
  }

  &__upload {
    z-index: 7;
    width: 35px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 33px;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(#000000, .6);
    cursor: pointer;
  }

  &-img {
    margin: 0 10px;
    top: 5px;
    z-index: 6;
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 210px;
    min-width: 70px;
    div {
      position: inherit;
    }
    @include to('xs') {
      margin: 0 auto 20px;
    }
    @include to('s') {
      width: 28%;
    }
    img {
      outline: 5px solid #ffffff;
      box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.2);
      @include to('xs') {
        outline-width: 1px;
      }
    }
    .custom-header__upload {
      top: auto;
      bottom: 0;
    }
  }

  &-info {
    color: #fff;
    letter-spacing: 0.1px;
    padding-bottom: 15px;
    @include at('s') {
      padding-right: 25px;
    }
    @include to('xs') {
      margin-left: 0;
      .location {
        line-height: 18px;
      }
    }
    .name {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
    .location {
      font-size: 12px;
      line-height: 18px;
      &:before {
        content: ' ';
        position: relative;
        display: inline-block;
        width: 15px;
        height: 20px;
        top: 5px;
        margin-right: 5px;
        background: url(/img/point.svg) 50% 50% no-repeat;
        background-size: 100%
      }
    }
  }

  &-actions {
    padding-top: 3px;
    color: #fff;
    @include from('m') {
      text-align: right;
    }
    @include at('m') {
      padding-left: 20px;
      li {
        white-space: nowrap;
      }
    }
    @include at('s') {
    }
    a {
      font-size: 12px;
      line-height: 20px;
      color: #fff;
      text-decoration: underline;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
