.dogs-content {
  padding: 0 10px 15px;
}

.add-my-dog {
  padding: 10px 0;
  border-top: 1px solid #bab8b9;
  border-bottom: 1px solid #bab8b9;
  .btn-azure {
    width: 220px;
    height: 35px;
  }
}

.dogs-list {
  margin-top: 35px;
  .owners-wall-rates {
    margin-bottom: 6px;
  }
}

.dogs-item-title {
  margin-bottom: 6px;
  font-weight: 700;
}

.dogs-item-link {
  margin-bottom: 3px;
}

.dogs-item-indent {
  margin-right: 30px;
}

.dogs-item-address {
  margin-top: 3px;
}

.dogs-item-last-string {
  margin-top: 8px;
}

@include from('l') {
  .dogs-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .dogs-item {
    margin-bottom: 20px;
    max-width: calc(100% / 2 - 10px);
    flex-basis: calc(100% / 2 - 10px);
  }
}

@include from('s') {
  .add-my-dog-radio {
    margin-right: 10px;
  }
  .add-my-dog {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dogs-item {
    display: flex;
  }
  .dogs-list {
    .slick-dotted.slick-slider {
      margin-bottom: 0;
    }
    .single-item {
      margin-right: 20px;
      max-width: 140px;
      flex-basis: 140px;
      align-self: flex-start;
    }
  }
}

@include to('m') {
  .dogs-item {
    margin-bottom: 25px;
  }
}

@include to('s') {
  .result-nav-tabs, .result-tab-content {
    display: none;
  }
}

@include to('xs') {
  .dogs-list .slick-dotted.slick-slider {
    margin-bottom: 20px;
  }
  .add-my-dog .btn-azure {
    display: inline-block;
  }
  .add-my-dog-radio {
    margin-bottom: 5px;
  }
}
