.filters {
  margin-bottom: 15px;
  padding: 0 10px 15px;
  border-bottom: 1px solid #bab8b9;
}

.filters-group {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.filters-checkbox {
  padding-top: 10px;
  label {
    margin-bottom: 0;
  }
}

.filters-group-point:not(.filters-checkbox) {
  margin-bottom: 5px;
}

.filters-group-text {
  display: inline-block;
}

.form-number-group {
  display: flex;
  align-items: center;
}

@include from('m') {
  .filters-group-point {
    max-width: calc(100% / 4 - 15px);
    flex-basis: calc(100% / 4 - 15px);
  }
  .form-number-group {
    justify-content: space-between;
  }
}

@include from('s') {
  .filters-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@include at('s') {
  .filters-group-point:not(.filters-checkbox) {
    max-width: calc(100% / 2 - 10px);
    flex-basis: calc(100% / 2 - 10px);
  }
}

@include to('s') {
  .form-number {
    margin: 0 10px;
  }
}

@include to('xs') {
  .wrap-filters-checkbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    .checkbox-custom-view {
      white-space: nowrap;
    }
  }
  .filters-checkbox {
    max-width: calc(100% / 2 - 10px);
    flex-basis: calc(100% / 2 - 10px);
  }
  .pagination-sort-by {
    justify-content: space-between;
    width: 100%;
  }
}
