@include from('l') {
  .owners-wall-page .col-md-9 {
    float: right;
  }
}

.owners-wall {
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    color: #000;
    cursor: default;
    background-color: #f5f3f4;
    border: 0;
    border-bottom: 0;
    font-weight: 700;
  }

  .nav-tabs {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #fff;
    position: relative;
    z-index: 5;
    border: 0;
    font-size: 0;
    @include from('l') {
      padding-left: 25%;
    }
    @include to('m') {
      text-align: center;
    }
    > li {
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      position: relative;
      margin-bottom: -2px;
      @include from('l') {
        &:first-child {
          margin-left: 10px;
        }
      }
    }
    a {
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-right: 2px;
      line-height: 1.42857143;
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;
      @include to('xs') {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
  .tab-content {
    background-color: #f5f3f4;
    position: relative;
    z-index: 4;
    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 150rem;
      top: 0;
      background-color: #ebebeb;
      z-index: -1;
    }
    &:before {
      left: 100%;
    }
    &:after {
      right: 100%;
    }
  }
  .tab-pane {
    padding-top: 20px;
    box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.2), -5px 0 10px 0px rgba(0, 0, 0, 0.2);
    @include clearfix;
  }
}

@include to('s') {
  .owners-wall-second {
    display: flex;
    flex-direction: column;
    .owners-wall-left {
      order: 2;
    }
  }
}

.owners-wall-wrap {
  font-size: 0;
  margin-bottom: 17px;
  @include at('m') {
    @include clearfix
  }
}

.owners-wall-left {
  font-size: 14px;
  @include from('m') {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
}

.owners-wall-right {
  font-size: 14px;
  line-height: 1.4;
  @include from('m') {
    width: 50%;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
  }
  > li {
    line-height: 1.2;
    color: #EF4B22;
    @include from('m') {
      &:first-of-type {
        margin-bottom: 4px;
      }
    }
  }
}

.owners-wall-rates {
  margin-left: -1px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translateY(0.1em);
  transform: translateY(0.1em);
  background: url(../img/stars-min.png) no-repeat 1px bottom;
  font-size: 14px;
  width: 80px;
  height: 13px;
  &:before {
    content: '';
    background: url(../img/stars-min.png) no-repeat 1px top;
    display: block;
    width: 0;
    height: 100%;
  }

  &.size-10:before {
    width: 100%;
  }
  &.size-9:before {
    width: 90%;
  }
  &.size-8:before {
    width: 80%;
  }
  &.size-7:before {
    width: 70%;
  }
  &.size-6:before {
    width: 60%;
  }
  &.size-5:before {
    width: 50%;
  }
  &.size-4:before {
    width: 40%;
  }
  &.size-3:before {
    width: 30%;
  }
  &.size-2:before {
    width: 20%;
  }
  &.size-1:before {
    width: 10%;
  }
  &.size-0:before {
    width: 0;
  }
}

.owners-wall-data {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  &:not(:last-of-type) {
    margin-bottom: 15px;
  }
  li {
    margin-bottom: 5px;
    overflow: hidden;
  }
}

.owners-wall-data-label {
  font-weight: bold;
  @include from('m') {
    width: 150px;
    float: left;
  }
  @include from('l') {
    width: 160px;
  }
  @include to('s') {
    margin-bottom: 3px;
  }
}

.owners-wall-data-text {
  @include from('s') {
    width: 190px;
    float: left;
  }
}

.orange {
  color: #EF4B22;
}

.owners-wall-champion {
  font-size: 0;
  li {
    line-height: 1.2;
    font-size: 14px;
    @include from('m') {
      &:nth-child(even) {
        padding-left: 10px;
      }
    }
    @include from('m') {
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }
  }
}

.point-rates {
  padding-bottom: 5px;
}

.puppy-soul {
  padding-bottom: 5px;
}

.single-item {
  width: 100%;
  @include to('s') {
    margin-bottom: 17px;
  }
  .slick-prev, .slick-next {
    z-index: 90;
  }
  .slick-prev {
    left: 5px;
  }
  .slick-next {
    right: 5px;
  }
  button {
    padding: 10px;
    position: absolute;
    top: 50%;
    background-color: rgba(#000, .4);
    border: 0;
    z-index: 99;
    color: #fff;
    margin-top: -14px;
    font-size: 20px;
    &:hover {
      opacity: .8;
    }
  }
  .icon-prev {
    left: 0;
  }
  .icon-next {
    right: 0;
  }
  .slick-list {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
    border: 5px solid #fff;
    border-bottom-width: 2px;
  }
}

.owners-wall-content {
  margin-bottom: 16px;
  line-height: 1.2;
}

.owners-wall-doc {
  padding-left: 0;
  margin-bottom: 9px;
  list-style: none;
  @include clearfix;
  li {
    margin-bottom: 7px;
    font-weight: 700;
    @include from('m') {
      width: 50%;
      float: left;
      &:nth-child(2) {
        padding-left: 10px;
      }
    }
  }
}

.owners-wall-bottom {
  margin-bottom: 15px;
  @include clearfix;
  .form-control {
    @include from('m') {
      width: calc(50% - 10px);
      margin-left: 10px;
      float: left;
    }
  }
}

.owners-wall-social {
  margin-bottom: 5px;
  @include from('m') {
    width: 50%;
    margin-bottom: 0;
    float: left;
    padding-right: 20px;
  }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}
