.pagination-area {
  padding: 15px 0 10px;
  border-top: 1px solid #bab8b9;
  border-bottom: 1px solid #bab8b9;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.pagination {
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: 0;
  li {
    font-size: 14px;
    display: inline-block;
    &:not(:first-child):not(:last-child) {
      margin: 0 1px;
    }
  }
  a, span {
    padding: 5px;
    display: inline-block;
  }
}

.pagination-show {
  margin-top: -29px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .form-control {
    width: 60px;
  }
}

.pagination-show-by {
  margin-right: 20px;
  margin-bottom: 2px;
}

.pagination-sort-by {
  margin-top: -29px;
  display: flex;
  align-items: center;
  .form-control {
    max-width: 130px;
    margin-left: 20px;
  }
}

.wrap-sort-by {
  padding-top: 10px;
  .pagination-sort-by {
    margin-top: 0;
  }
}

@include to('m') {
  .pagination-top {
    .pagination {
      display: none;
    }
    .pagination-sort-by, .pagination-show {
      margin-top: 0;
    }
  }
  .pagination-bottom {
    .pagination-sort-by, .pagination-show {
      display: none;
    }
  }
}
