.people-content {
  padding: 0 10px 15px;
}

.people-list {
  margin-top: 35px;
}

.people-item {
  margin-bottom: 20px;
  line-height: 1;
}

.people-media img {
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
  border: 5px solid #fff;
}

.people-info {
  position: relative;
  .line:not(:first-of-type) {
    margin-top: 5px;
  }
}

.people-post {
  padding-top: 5px;
  + .people-post {
    padding-top: 0;
  }
}

.people-panel {
  width: 100%;
  margin-top: auto;
  padding-top: 10px;
  display: flex;
  .btn-azure {
    margin-right: 20px;
    max-width: 100px;
    flex-basis: 100px;
  }
  .btn-uninstall {
    max-width: 60px;
    flex-basis: 60px;
  }
}

.title-add-button {
  position: relative;
  .add {
    width: 220px;
  }
}

@include from('l') {
  .people-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .people-item {
    max-width: calc(100% / 2 - 10px);
    flex-basis: calc(100% / 2 - 10px);
  }
}

@include from('s') {
  .title-add-button .add {
    position: absolute;
    right: 0;
    top: -7px;
  }

  .people-item {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .people-media {
    margin-right: 20px;
    max-width: 140px;
    flex-basis: 140px;
    align-self: flex-start;
  }

  .people-info {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% - 160px);
  }
}

@include to('xs') {
  .people-media {
    display: none;
  }
  .people-content .visible-xs {
    display: flex !important;
  }
  .title-add-button {
    h1 {
      margin-bottom: 15px;
    }
    .add {
      margin-bottom: 15px;
      display: block;
    }
  }
}
