.personal-data {
  padding-bottom: 10px;
  overflow-x: hidden;
  line-height: 1.2;

  h1, .h1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .phone {
    line-height: 1;
    .label {
      margin-bottom: 5px;
    }
  }

  .passport .label {
    margin-bottom: 5px;
  }

  .address .label {
    margin-bottom: 5px;
  }

  .phone-label {
    min-width: 77px;
    display: inline-block;
  }
}

.personal-data-line {
  margin-bottom: 5px;
  padding: 0 10px;
  list-style: none;
  font-size: 0;
  position: relative;
  & > li {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
  }
  .label {
    width: 320px;
    padding-right: 20px;
    padding-top: 8px;
  }
  .text {
    padding-right: 10px;
  }
  .button {
    width: 70px;
    padding-left: 10px;
    text-align: right;
  }
  .radio-block {
    padding-right: 10px;
  }
  label {
    line-height: 1;
  }
  .personal-data__map {
    margin: 0 -10px;
  }
  .list-data {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    li:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }
  .show-more-full-name {
    padding: 4px 0 0 320px;
    min-height: inherit;
    color: #8b8b8b;
  }
  .hidden-full-name {
    padding-left: 320px;
    padding-right: 80px;
    min-height: inherit;
    color: #8b8b8b;
    .list-data li:not(:last-of-type) {
      margin-top: 5px;
    }
  }
  .show-address {
    padding: 12px 0 0 320px;
    min-height: inherit;
  }
  .hidden-address {
    padding-top: 15px;
    padding-left: 320px;
    padding-right: 80px;
    line-height: 1.2;
    min-height: inherit;
    color: #8b8b8b;
  }
}

.personal-data__map {
  position: relative;
  border: 1px solid #00adbf;
  .btn-azure {
    width: 220px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 700;
  }
  .list-data {
    display: block;
  }
}
