.result-nav-tabs {
  margin-left: 10px;
  display: flex;
  li {
    &:not(.active):not(:last-child) {
      cursor: pointer;
      color: $color-azure-link;
    }
    &:last-child {
      padding: 14px 10px 10px;
      text-align: right;
      flex-grow: 1;
    }
  }

  .active .result-nav-tabs-text {
    border-radius: 4px 4px 0 0;
    color: #000;
    cursor: default;
    background-color: #f5f3f4;
    border: 0;
    font-weight: 700;
    font-size: 14px;
  }
}

.result-nav-tabs-text {
  padding: 10px 15px;
  line-height: 1.42857143;
  display: inline-block;
}

.result-tab-content {
  margin-bottom: 35px;
  padding: 20px 10px 5px;
  background-color: #f5f3f4;
}

.result-list {
  column-gap: 20px;
}

.result-list li {
  margin-bottom: 15px;
}

.result-link {
  display: flex;
  justify-content: space-between;
}

.result-text {
  font-weight: 700;
}

.result-decor {
  margin: 0 5px;
  border-bottom: 1px dotted;
  position: relative;
  top: -2px;
  flex-grow: 1;
}

@include at('m') {
  .result-list {
    column-count: 2;
  }
}

@include from('l') {
  .result-list {
    column-count: 3;
  }
}
