@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "lib/bootstrap";
@import "partials/variables";
/*
 partials
 */
@import "partials/mixin";
@import "partials/fonts";
@import "partials/buttons";
@import "partials/form";
@import 'partials/radio-checkbox';
@import "partials/common";
@import "partials/icons";
@import "partials/progress";
/*
 pages
 */
@import "pages/personal-data";
@import "pages/personal-edit";
@import "pages/footer";
@import "pages/breadcrumbs";
@import "pages/header-nav";
@import "pages/modal-reg";
@import "pages/login";
@import "pages/profile-menu";
@import "pages/custom-header";
@import "pages/loader";
@import "pages/logo";
/*
 old CSS
 */
@import "lib/main";
@import "lib/media";
/*
 END old CSS
 */
@import "pages/edit-data";
@import "pages/modal";
@import "pages/nav-arrows";
@import "pages/sidebar";
@import "pages/comment-form";
@import "pages/post";
@import "pages/owners-wall";
@import "pages/ancestors";
@import "pages/career";
@import "pages/requisites";
@import "pages/friends";
@import "pages/pagination";
@import "pages/filters";
@import "pages/result";
@import "pages/dogs";
@import "pages/people";
@import "pages/custom-scroll";
@import "pages/club-list";
@import "pages/talk";

.save-area .btn-azure {
    width: 100%;
}

.fixed-footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    .wrapper {
        flex: 1 1 auto;
    }
}

.header-table {
    display: flex;
    
    .logo {
        max-width: 120px;
        margin-right: auto;
        flex: 1 0 120px;
    }
    .login {
        max-width: 125px;
        margin-left: auto;
        flex: 1 0 125px;
    }
    .login-options li {
        &:nth-child(2), &:nth-child(3) {
            display: none;
        }
    }
}

.header-table-wrap {
    padding: 14px 10px 16px;
}

.header-table-info {
    text-align: left;
    display: inline-block;
}

.header-table-title {
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.detailed-information {
    display: flex;
    li:not(:last-child) {
        margin-right: 20px;
    }
}

.table-menu-wrap {
    height: 50px;
    padding: 0 10px;
    background: rgb(0, 130, 144);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODI5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDk3YTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0, 130, 144, 1) 0%, rgba(0, 151, 167, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 130, 144, 1) 0%, rgba(0, 151, 167, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 130, 144, 1) 0%, rgba(0, 151, 167, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008290', endColorstr='#0097a7', GradientType=0);
}

.table-menu {
    height: inherit;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    a {
        height: 100%;
        padding: 10px 10px 0;
        color: #fff;
        display: block;
        position: relative;
        &::before {
            width: calc(100% - 20px);
            height: 1px;
            bottom: -1px;
            left: 10px;
            background-color: #fff;
            position: absolute;
            content: '';
            transition: all 0.3s ease;
        }
        &:hover::before {
            bottom: 5px;
        }
    }
}

.table-menu-item {
    height: inherit;
    padding-top: 15px;
}

.table-menu-active {
    a {
        color: #000;
        background-color: #fff;
        border-radius: 6px 6px 0 0;
    }
}

.table {
    max-width: 100%;
    min-width: 960px;
    border: 0;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

.table th {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #bab8b9;
    padding: 8px;
    border: 0;
    text-align: left;
    line-height: 1.3;
    vertical-align: top;
}

.table tr {
    transition: all 0.3s ease;
    &:nth-child(odd) {
        background-color: #F5F3F4;
    }
}

.table td {
    padding: 10px;
    border: 0;
    vertical-align: top;
    line-height: 1.3;
}

th.table-date-mating {
    padding-left: 20px;
    position: relative;
    &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        border: 5px solid transparent;
    }
    &:before {
        top: 5px;
        border-bottom-width: 10px;
        border-bottom-color: #00adbf;
    }
    &:after {
        bottom: 5px;
        border-top-width: 10px;
        border-top-color: #fff;
    }
}

.table tr:hover {
    background-color: #e5e5e5;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.table-control {
    max-width: 960px;
    margin-bottom: 35px;
    @include clearfix;
    .btn {
        padding-left: 0;
        padding-right: 0;
        &:not(.btn-uninstall) {
            width: 100%;
        }
    }
}

.filter-table {
    padding-left: 10px;
    margin-bottom: 20px;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    @include clearfix;
    li:not(:last-child) {
        margin-right: 15px;
    }
    .as-link {
        font-weight: 700;
    }
}

.print-btn {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    .icon-print {
        margin-bottom: -3px;
        margin-right: 5px;
        font-size: 26px;
    }
}

.btn-hide {
    font-size: 26px;
    width: 35px;
    padding: 0;
    height: 35px;
    line-height: 39px;
    text-transform: uppercase;
    color: #ffffff;
    background: #ed5901;
    &:hover {
        border-color: #ed5901;
        color: #ed5901;
        background-color: #ffffff;
    }
}

.table-btn {
    text-align: right;
    .btn-edit, .btn-uninstall {
        width: 35px;
        font-size: 16px;
    }
    .btn {
        vertical-align: middle;
        &:not(:last-of-type) {
            margin-right: 10px;
        }
    }
}

.table-responsive-wrap {
    position: relative;
}

.result-touch {
    padding: 15px 15px 15px 50px;
    bottom: -70px;
    left: 50%;
    margin-left: -135px;
    color: #fffefe;
    line-height: 1.3;
    border-radius: 5px;
    background-color: rgba(#000, .8);
    position: absolute;
    pointer-events: none;
    display: none;
    &::before {
        top: 22px;
        left: 18px;
        font-size: 22px;
        position: absolute;
    }
    .icon-from {
        position: absolute;
        top: -15px;
        left: 20px;
        color: #000;
        transform: rotate(-45deg);
    }
}

.table-date {
    min-width: 110px;
}

.table-btn-control {
    display: none;
}

.big-table {
    .pre-footer {
        border-radius: 0;
    }
    .container {
        max-width: 100%;
        border-radius: 0;
    }
}

.table-wrap {
    .pagination-bottom {
        padding-left: 10px;
        padding-right: 10px;
    }
    .pagination-show {
        margin-left: 75px;
    }
}

.table-control-data {
    height: 35px;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li:not(:last-child) {
        margin-right: auto;
    }
}

.print-data {
    .modal-content {
        padding: 10px;
        border: 1px solid #ccc;
    }
}

.modal-close {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid #00adbf;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 7px 4px;
    font-weight: 700;
    color: #00adbf;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: #00adbf;
        color: #fff;
    }
}

.print-data-head {
    display: flex;
    align-items: center;
}

.print-data-text {
    margin-right: 20px;
}

.print-data-item {
    margin-bottom: 5px;
    line-height: 1.3;
}

.edit-table-data .modal-content {
    padding: 13px 10px 15px;
}

.edit-table-data_panel {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form-control {
        width: 140px;
        display: inline-block;
    }
}

.edit-table-data_table {
    width: 720px;
    min-width: 0;
    margin: 0 -10px 15px;
    .form-control {
        width: 80px;
    }
    
    select.form-control {
        width: 100px;
    }
}

.edit-table-data_label {
    margin-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.edit-table-data_desk {
    margin-bottom: 15px;
    color: #EF4B22;
    display: flex;
    align-items: center;
    .text {
        margin-left: 22px;
        max-width: 285px;
        flex-basis: 285px;
    }
    .form-control {
        margin-left: auto;
        width: 380px;
        max-width: 380px;
        flex-basis: 380px;
        color: #EF4B22;
    }
}

.edit-table-data_bottom {
    display: flex;
    justify-content: flex-end;
    .btn {
        width: 220px;
        margin-left: 20px;
    }
}

.edit-table-data, .edit-table-view {
    .modal-dialog {
        width: 720px;
    }
}

.edit-table-view {
    .modal-content {
        padding: 13px 10px 15px;
    }
    
    .dog-floor {
        margin-bottom: 17px;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    ul {
        margin-bottom: 17px;
        line-height: 1.1;
    }
    li:not(:last-child) {
        margin-bottom: 7px;
    }
    .edit-table-data_label {
        margin-bottom: 16px;
    }
    .edit-table-data_desk {
        margin-bottom: 13px;
        flex-direction: column;
        align-items: flex-start;
        .text {
            margin-bottom: 9px;
            margin-left: 0;
            max-width: none;
            flex-basis: auto;
        }
    }
}

.edit-table-view_print {
    margin-bottom: 21px;
    display: flex;
    justify-content: space-between;
    .form-control {
        width: 200px;
        + .btn-azure {
            width: 160px;
        }
    }
}

.edit-table-view_block {
    width: 54%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:first-of-type {
        width: 43%;
        .btn-azure {
            width: 220px;
            font-size: 13px;
        }
    }
}

.edit-table-view_breed {
    margin-bottom: 23px;
    text-transform: uppercase;
    font-weight: 700;
}

.edit-table-view_general {
    display: flex;
    .list-unstyled {
        display: flex;
        li:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.edit-table-view_box {
    width: 43%;
    display: flex;
    flex-direction: column;
    &:first-of-type {
        width: 54%;
    }
    ul {
        margin-bottom: 10px;
    }
}

@media (max-width: 1439px) {
    .big-table .table-responsive {
        padding-bottom: 120px;
    }
    .table-circle {
        position: relative;
        &::before {
            width: 15px;
            height: 15px;
            display: block;
            border-radius: 50%;
            border: 1px solid #ccc;
            background-color: #fff;
            position: relative;
            content: '';
        }
    }
    .table-circle-text {
        position: absolute;
        color: #8B8B8B;
        white-space: nowrap;
        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: #8B8B8B;
        }
        br {
            display: none;
        }
    }
    .table-circle-first {
        padding-right: 7px;
        top: -31px;
        right: 100%;
        &::before {
            width: 16px;
            height: 1px;
            top: 9px;
            left: 100%;
        }
        &::after {
            width: 1px;
            height: 27px;
            top: 9px;
            right: -16px;
        }
    }
    .table-circle-second {
        padding-right: 7px;
        top: -47px;
        right: 100%;
        white-space: nowrap;
        &::before {
            width: 16px;
            height: 1px;
            top: 9px;
            left: 100%;
        }
        &::after {
            width: 1px;
            height: 43px;
            top: 9px;
            right: -16px;
        }
    }
    .table-circle-third {
        padding-left: 7px;
        top: -47px;
        left: 100%;
        white-space: nowrap;
        &::before {
            width: 16px;
            height: 1px;
            top: 9px;
            right: 100%;
        }
        &::after {
            width: 1px;
            height: 43px;
            top: 9px;
            left: -16px;
        }
    }
    .table-circle-fourth {
        padding-left: 7px;
        top: -31px;
        left: 100%;
        white-space: nowrap;
        &::before {
            width: 16px;
            height: 1px;
            top: 9px;
            right: 100%;
        }
        &::after {
            width: 1px;
            height: 27px;
            top: 9px;
            left: -16px;
        }
    }
    .table-btn {
        min-width: 0;
        position: relative;
        &::before {
            width: 60px;
            height: 0;
            right: 0;
            top: 50px;
            border-radius: 5px;
            background-color: #fff;
            content: '';
            position: absolute;
            z-index: 15;
            transition: all 0.3s ease;
        }
        .btn {
            opacity: 0;
            position: absolute;
            pointer-events: none;
            z-index: 15;
            left: 8px;
            bottom: 0;
        }
        .icon-search {
            transition: all 0.3s ease;
        }
        .icon-pencil {
            transition: all 0.5s ease;
        }
        .btn-hide {
            left: auto;
            right: 10px;
            transition: all 0.7s ease;
        }
    }
    .table-btn-control {
        width: 35px;
        height: 35px;
        display: block;
        background-color: #00adbf;
        border-radius: 5px;
        border: 1px solid #00adbf;
        position: relative;
        cursor: pointer;
        z-index: 5;
        transition: all 0.3s ease;
        &::before, &::after {
            left: 50%;
            margin-left: -10px;
            border: 10px solid transparent;
            position: absolute;
            content: '';
            transition: all 0.3s ease;
        }
        &::before {
            top: 50%;
            margin-top: -5px;
            border-top-color: #fff;
        }
        &::after {
            bottom: 50%;
            margin-bottom: -5px;
            border-bottom-color: #00adbf;
            opacity: 0;
        }
    }
    .table-btn-open {
        &::before {
            height: 130px;
        }
        .btn {
            opacity: 1;
            pointer-events: auto;
        }
        .icon-search {
            bottom: -25px;
        }
        .icon-pencil {
            bottom: -64px;
        }
        .btn-hide {
            bottom: -104px;
        }
        .table-btn-control {
            background-color: #fff;
            &::before {
                opacity: 0;
            }
            &::after {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1200px) {
    .big-table .table {
        font-size: 13px;
    }
}

@media (max-width: 1050px) {
    .table-circle-first {
        top: -50px;
        &::after {
            height: 46px;
        }
    }
    .table-circle-second {
        top: -65px;
        &::after {
            height: 61px;
        }
    }
}

@media (max-width: 970px) {
    .fixed-table {
        width: 960px;
        overflow-x: scroll;
    }
    
    .big-table {
        overflow-x: scroll;
        width: 960px;
        .table {
            font-size: 12px;
        }
    }
    .table-date {
        min-width: 90px;
    }
}

@media (min-width: 1440px) {
    .table-btn {
        width: 155px;
    }
}

@media (min-width: 960px) {
    .result-touch {
        display: none;
    }
}

@media (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
}