@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "lib/bootstrap";
@import "partials/variables";
/*
 partials
 */
@import "partials/mixin";
@import "partials/fonts";
@import "partials/buttons";
@import "partials/form";
@import 'partials/radio-checkbox';
@import "partials/common";
@import "partials/icons";
@import "partials/progress";
/*
 pages
 */
@import "pages/personal-data";
@import "pages/personal-edit";
@import "pages/footer";
@import "pages/breadcrumbs";
@import "pages/header-nav";
@import "pages/modal-reg";
@import "pages/login";
@import "pages/profile-menu";
@import "pages/custom-header";
@import "pages/loader";
@import "pages/logo";
/*
 old CSS
 */
@import "lib/main";
@import "lib/media";
/*
 END old CSS
 */
@import "pages/edit-data";
@import "pages/modal";
@import "pages/nav-arrows";
@import "pages/sidebar";
@import "pages/comment-form";
@import "pages/post";
@import "pages/owners-wall";
@import "pages/ancestors";
@import "pages/career";
@import "pages/requisites";
@import "pages/friends";
@import "pages/pagination";
@import "pages/filters";
@import "pages/result";
@import "pages/dogs";
@import "pages/people";

.map-club {
    margin-bottom: 15px;
    border: 1px solid #00adbf;
}

.club-list {
    padding: 35px 0 5px 0;
    margin-bottom: 0;
    list-style: none;
}

.club-list-item {
    margin-bottom: 15px;
}

.club-list-line {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
        margin-bottom: 5px;
        line-height: 1.3;
        &:not(:first-child):not(:last-child) {
            width: 100%;
            order: 3;
        }
        &:not(:nth-child(3)) {
            font-weight: 700;
        }
    }
}

@include from('m') {
    .club-list-line li:last-child {
        margin-left: auto;
        order: 2;
    }
}

@include to('s') {
    .club-list-line li:last-child {
        order: 4;
    }
}

.talk {
    padding-bottom: 15px;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    h1 {
        width: 100%;
        margin: 0 10px 10px;
        &:after {
            width: 100%;
            height: 1px;
            margin-top: 21px;
            background-color: #BAB8B9;
            display: block;
            content: '';
        }
    }
}

.talk-left {
    width: 320px;
    flex-basis: 310px;
    border-right: 1px solid #BAB8B9;
}

.talk-panel {
    min-height: 100px;
    padding: 10px 10px 15px;
    &:after {
        width: 100%;
        height: 1px;
        margin-top: 21px;
        background-color: #BAB8B9;
        display: block;
        content: '';
    }
}

.talk-nav {
    margin-bottom: 20px;
    padding-left: 0;
    padding-top: 5px;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-between;
    .active {
        color: #000;
    }
    li:not(:last-child) {
        cursor: pointer;
    }
}

.talk-new-message:before {
    color: $color-azure;
    vertical-align: middle;
}

.talk-new-count {
    color: $color-orange;
}

.talk-list {
    max-height: 480px;
    height: 100%;
    padding: 5px 0 0;
    margin-bottom: 0;
    list-style: none;
    overflow: hidden;
    transition: all 0.3s ease;
    &:hover {
        overflow-y: scroll;
    }
}

.talk-item {
    padding: 10px;
    display: flex;
    transition: background-color 0.3s ease;
    &:not(.talk-item-active):hover {
        background-color: #ebebeb;
        cursor: pointer;
    }
}

.talk-user-media {
    padding-right: 10px;
    position: relative;
    max-width: 70px;
    flex: 1 0 70px;
    &:after {
        width: 12px;
        height: 12px;
        bottom: 2px;
        right: 12px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        position: absolute;
        background-color: #BAB8B9;
        content: '';
    }
    img {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
        border-radius: 50%;
    }
}

.talk-user-online:after {
    background-color: #00CC00;
}

.talk-user-info {
    min-width: 0;
}

.talk-user-title {
    padding: 0;
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 14px;
    color: $color-azure;
    @include truncate(100%);
}

.talk-user-address {
    @include truncate(100%);
}

.talk-item-info {
    margin-top: 7px;
    display: flex;
    .talk-new-message {
        margin-left: auto;
    }
}

.talk-item-date {
    font-weight: 700;
    .time {
        margin-right: 10px;
    }
}

.talk-item-active {
    background-color: #F5F3F4;
    cursor: default;
}

.talk-right {
    display: none;
}