@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "lib/bootstrap";
@import "partials/variables";
/*
 partials
 */
@import "partials/mixin";
@import "partials/fonts";
@import "partials/buttons";
@import "partials/form";
@import 'partials/radio-checkbox';
@import "partials/common";
@import "partials/icons";
@import "partials/progress";
/*
 pages
 */
@import "pages/personal-data";
@import "pages/personal-edit";
@import "pages/footer";
@import "pages/breadcrumbs";
@import "pages/header-nav";
@import "pages/modal-reg";
@import "pages/login";
@import "pages/profile-menu";
@import "pages/custom-header";
@import "pages/loader";
@import "pages/logo";
/*
 old CSS
 */
@import "lib/main";
@import "lib/media";
/*
 END old CSS
 */
@import "pages/edit-data";
@import "pages/modal";
@import "pages/nav-arrows";
@import "pages/sidebar";
@import "pages/comment-form";
@import "pages/post";
@import "pages/owners-wall";
@import "pages/ancestors";
@import "pages/career";
@import "pages/requisites";
@import "pages/friends";
@import "pages/pagination";
@import "pages/filters";
@import "pages/result";
@import "pages/dogs";
@import "pages/people";
@import "pages/custom-scroll";
@import "pages/club-list";
@import "pages/talk";
@import "pages/table";

.save-area .btn-azure {
    width: 100%;
}

.fixed-footer {
    height: 100%;
    display: flex;
    flex-direction: column;
    .wrapper {
        flex: 1 1 auto;
    }
}

@media (max-width: 1439px) {
    .big-table .table-responsive {
        padding-bottom: 120px;
    }
    .table-circle {
        position: relative;
        &::before {
            width: 15px;
            height: 15px;
            display: block;
            border-radius: 50%;
            border: 1px solid #ccc;
            background-color: #fff;
            position: relative;
            content: '';
        }
    }
    .table-circle-text {
        position: absolute;
        color: #8B8B8B;
        white-space: nowrap;
        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: #8B8B8B;
        }
        br {
            display: none;
        }
    }
    .table-circle-first {
        padding-right: 7px;
        top: -31px;
        right: 100%;
        &::before {
            width: 16px;
            height: 1px;
            top: 9px;
            left: 100%;
        }
        &::after {
            width: 1px;
            height: 27px;
            top: 9px;
            right: -16px;
        }
    }
    .table-circle-second {
        padding-right: 7px;
        top: -47px;
        right: 100%;
        white-space: nowrap;
        &::before {
            width: 16px;
            height: 1px;
            top: 9px;
            left: 100%;
        }
        &::after {
            width: 1px;
            height: 43px;
            top: 9px;
            right: -16px;
        }
    }
    .table-circle-third {
        padding-left: 7px;
        top: -47px;
        left: 100%;
        white-space: nowrap;
        &::before {
            width: 16px;
            height: 1px;
            top: 9px;
            right: 100%;
        }
        &::after {
            width: 1px;
            height: 43px;
            top: 9px;
            left: -16px;
        }
    }
    .table-circle-fourth {
        padding-left: 7px;
        top: -31px;
        left: 100%;
        white-space: nowrap;
        &::before {
            width: 16px;
            height: 1px;
            top: 9px;
            right: 100%;
        }
        &::after {
            width: 1px;
            height: 27px;
            top: 9px;
            left: -16px;
        }
    }
    .table-btn {
        min-width: 0;
        position: relative;
        &::before {
            width: 60px;
            height: 0;
            right: 0;
            top: 50px;
            border-radius: 5px;
            background-color: #fff;
            content: '';
            position: absolute;
            z-index: 15;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }
        .btn {
            opacity: 0;
            position: absolute;
            pointer-events: none;
            z-index: 15;
            left: 10px;
            bottom: 0;
        }
        .icon-search {
            transition: all 0.3s ease;
        }
        .icon-pencil {
            transition: all 0.5s ease;
        }
        .btn-hide {
            left: 10px;
            transition: all 0.7s ease;
        }
    }
    .table-btn-control {
        width: 35px;
        height: 35px;
        display: block;
        background-color: #00adbf;
        border-radius: 5px;
        border: 1px solid #00adbf;
        position: relative;
        cursor: pointer;
        z-index: 5;
        transition: all 0.3s ease;
        &::before, &::after {
            left: 50%;
            margin-left: -10px;
            border: 10px solid transparent;
            position: absolute;
            content: '';
            transition: all 0.3s ease;
        }
        &::before {
            top: 50%;
            margin-top: -5px;
            border-top-color: #fff;
        }
        &::after {
            bottom: 50%;
            margin-bottom: -5px;
            border-bottom-color: #00adbf;
            opacity: 0;
        }
    }
    .table-btn-open {
        &::before {
            height: 130px;
        }
        .btn {
            opacity: 1;
            pointer-events: auto;
        }
        .icon-search {
            top: 57px;
        }
        .icon-pencil {
            top: 97px;
        }
        .btn-hide {
            top: 137px;
        }
        .table-btn-control {
            background-color: #fff;
            &::before {
                opacity: 0;
            }
            &::after {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1200px) {
    .big-table .table {
        font-size: 13px;
    }
}

@media (max-width: 1050px) {
    .table-circle-first {
        top: -50px;
        &::after {
            height: 46px;
        }
    }
    .table-circle-second {
        top: -65px;
        &::after {
            height: 61px;
        }
    }
}

@media (max-width: 970px) {
    .fixed-table {
        width: 960px;
        overflow-x: scroll;
    }
    
    .big-table {
        overflow-x: scroll;
        width: 960px;
        .table {
            font-size: 12px;
        }
    }
    .table-date {
        min-width: 90px;
    }
}

@media (min-width: 1440px) {
    .table-btn {
        width: 155px;
    }
}

@media (min-width: 960px) {
    .result-touch {
        display: none;
    }
}

@media (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
}