<header class="panel content-container">
    <div class="header-table header-top clearfix text-center">
        <div class="logo pull-left">
            <a href="#">
                <img src="/img/logo.png" alt="">
            </a>
        </div>

        <div class="header-table-wrap">
            <div class="header-table-info">
                <div class="header-table-title">КИНОЛОГИЧЕСКИЙ КЛУБ "ДОЛГИЙ СЕВЕРНЫЙ ПУТЬ В НИРВАНУ КОСМОСА"</div>

                <ul class="detailed-information list-unstyled">
                    <li><span class="text-bold">Федирация:</span> РФСС</li>
                    <li><span class="text-bold">Номер паки:</span> 9912</li>
                    <li><span class="text-bold">Учетный номер:</span> 567</li>
                    <li><span class="text-bold">Код клейма:</span> T</li>
                </ul>
            </div>
        </div>

        <div class="login pull-right">
            <!-- include "templates/header/login-user-area.html" -->
        </div>
    </div>

    <!-- include "templates/breadcrumbs.html" -->

    <!-- include "templates/header/header-middle.html" -->

    <!-- include "templates/header/profile-menu.html" -->

    <div class="table-menu-wrap">
        <ul class="table-menu list-unstyled">
            <li class="table-menu-active table-menu-item"><a href="#">Вязки</a></li>
            <li class="table-menu-item"><a href="#">Пометы</a></li>
            <li class="table-menu-item"><a href="#">Регистрация помета</a></li>
            <li class="table-menu-item"><a href="#">Документы на родославные</a></li>
            <li class="table-menu-item"><a href="#">Взносы</a></li>
            <li class="table-menu-item"><a href="#">Вернуться</a></li>
        </ul>
    </div>
</header>
