<nav class="pagination-area pagination-top">
    <div class="pagination-sort-by">
        <div class="text-bold text-nowrap">Сортировать по:</div>

        <select class="form-control" title="Сортировать по">
            <option>названию</option>
            <option>адресу</option>
        </select>
    </div>

    <ul class="pagination">
        <li><span>&lt;&lt;</span></li>
        <li><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#"> ... </a></li>
        <li><a href="#">25</a></li>
        <li><a href="#">&gt;&gt;</a></li>
    </ul>

    <div class="pagination-show">
        <div class="pagination-show-by text-bold text-nowrap">Выводить по:</div>
        <select title="Выводить по" class="form-control">
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>100</option>
        </select>
    </div>
</nav>
