<div class="gender">
    <div class="father">отец</div>
</div>

<div class="about-dog">
    <a href="#" target="_blank" class="ancestors-img icon-male"><img
            src="/img/example/32_doberman_pinscher.jpg" alt=""></a>

    <div class="ancestors-info">
        <div class="ancestors-info-top">
            <div class="owners-wall-rates scale size-8"></div>
            <span>Россия</span>
        </div>

        <a href="#" class="dog-name">ADAM RACY STYLE BERENIS</a>

        <div class="floor">
            кобель <span class="date">д.р. 02.05.2014 г.</span>
        </div>
    </div>
</div>