<div class="gender">
    <div class="father">отец</div>
</div>

<div class="about-dog">
    <div class="ancestors-img male">
        <a href="#" target="_blank">
            <img src="/img/example/32_doberman_pinscher.jpg" alt="">
        </a>
        <span class="icon-male"></span>
    </div>

    <div class="ancestors-info">
        <div class="ancestors-info-top">
            <div class="owners-wall-rates scale size-8"></div>
            <span>Демократическая Республика Конго</span>
        </div>

        <a href="#" class="dog-name">MOSKVORECHIE MONSTER BORESLAV LUBOV ADAMA</a>

        <div class="floor">
            кобель <span class="date">д.р. 02.05.2014 г.</span>
        </div>
    </div>
</div>