@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "partials/fonts";
@import "partials/mixin";
@import "partials/buttons";
@import "partials/form";
@import 'partials/radio-checkbox';
@import "lib/bootstrap";
@import "lib/bootstrap4";
@import "partials/common";
@import "partials/icons";
@import "partials/progress";
/* pages */
@import "pages/personal-data";
@import "pages/personal-edit";
@import "pages/footer";
@import "pages/breadcrumbs";
@import "pages/header-nav";
@import "pages/modal-reg";
@import "pages/login";
@import "pages/profile-menu";
@import "pages/custom-header";
@import "pages/loader";
@import "pages/logo";
@import "lib/main";
@import "lib/media";
@import "pages/edit-data";
@import "pages/modal";
@import "pages/nav-arrows";

body {
  padding-top: 20px;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 430px;
    top: 0;
    background: url(/img/bg-pattern.png) #bfe9ed;
  }
}

.clearfix {
  @include clearfix;
}

.container {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  position: relative;
  z-index: 4;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}

.tooltip {
  white-space: nowrap;
}

.cropper-wrap {
  padding: 15px 10px;
}

.cropper-top {
  @include clearfix
}

.cropper-title {
  width: 240px;
  padding: 0 10px;
  float: left;
}

.cropper-loading {
  width: 480px;
  float: left;
  padding: 0 10px;
  @include to('s') {
    width: 100%;
    margin-top: 5px;
  }
}

.mating-form {
  legend {
    margin-bottom: 15px;
  }
  fieldset:first-of-type legend {
    margin-bottom: 22px;
  }
}
