@import "variables";

body, html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: $color-black;
}

a:active, a:hover, a:link, a:visited {
  text-decoration: none
}

a, .as-link {
  color: $color-azure-link;
  transition: all 0.3s ease;
  &:hover {
    color: #1bbed2;
  }
}

.as-link {
  cursor: pointer;
}

b, strong {
  font-weight: 700;
}

h1, .h1 {
  padding: 0 10px;
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.text {
  &-center {
    text-align: center
  }
  &-left {
    text-align: left
  }
  &-right {
    text-align: right
  }
  &-justify {
    text-align: justify
  }
  &-bold {
    font-weight: 700
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-line-1 {
    line-height: 1;
  }
}

.pull {
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }
}

/* list-unstyled */
.list {
  &-unstyled {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

.color {
  &-black {
    color: $color-black;
  }
  &-white {
    color: $color-white;
  }
  &-grey {
    color: $color-grey;
    &-very-light {
      color: $color-grey-very-light;
    }
    &-light {
      color: $color-grey-light;
    }
    &-dark {
      color: $color-grey-dark;
    }
  }
  &-gray {
    color: $color-gray;
  }
  &-azure {
    color: $color-azure;
    &-light {
      color: $color-azure-light;
    }
    &-link {
      color: $color-azure-link;
    }
    &-bottom {
      color: $color-azure-bottom;
    }
  }
  &-orange {
    color: $color-orange;
  }
  &-blue {
    color: $color-blue;
  }
  &-pink {
    color: $color-pink;
  }
}

.bread-crumbs {
  &-light {
    color: #8cc2aa;
  }
  &-darck {
    color: #6aa289;
  }
}

@include to('xs') {
  .hidden-xs {
    display: none !important;
  }
}

@include to('s') {
  .hidden-sm {
    display: none !important;
  }
}

.error-text {
  color: $color-orange;
}
