@import "../lib/variables";

[class^="icon-"], [class*=" icon-"] {
  &:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.icon-pencil:before {
  content: $icon-pencil;
}

.icon-bin:before {
  content: $icon-bin;
}

.icon-bin2 {
  &:before {
    content: $icon-bin2;
  }
}

.icon-friends {
  &:before {
    content: $icon-friends;
  }
}

.icon-chronicle {
  &:before {
    content: $icon-chronicle;
  }
}

.icon-paw {
  &:before {
    content: $icon-paw;
  }
}

.icon-dog {
  &:before {
    content: $icon-dog;
  }
}

.icon-nursery {
  &:before {
    content: $icon-nursery;
  }
}

.icon-graduates {
  &:before {
    content: $icon-graduates;
  }
}

.icon-messages {
  &:before {
    content: $icon-messages;
  }
}

.icon-user {
  &:before {
    content: $icon-user;
  }
}

.icon-my-friends {
  &:before {
    content: $icon-my-friends;
  }
}

.icon-message-load {
  &:before {
    content: $icon-message-load;
  }
}

.icon-logout {
  &:before {
    content: $icon-logout;
  }
}

.icon-camera {
  &:before {
    content: $icon-camera;
  }
}

.icon-camera2 {
  &:before {
    content: $icon-camera2;
  }
}

.icon-location {
  &:before {
    content: $icon-location;
  }
}

.icon-enter {
  &:before {
    content: $icon-enter;
  }
}

.icon-exit {
  &:before {
    content: $icon-exit;
  }
}
