.ancestors {
  padding: 20px 10px;
}

.ancestors-title {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.ancestors-list {
  font-size: 0;
  .icon-bitch, .icon-male {
    display: inline-block;
  }
  .icon-bitch {
    img {
      border: 3px solid #DA0861;

    }
    &:before {
      color: #b51ea9;
    }
  }
  .icon-male {
    img {
      border: 3px solid #03a2fe;
    }
    &:before {
      color: #0a6eac;
    }
  }
}

.ancestors-wrap {
  margin: 0 auto;
  position: relative;
  .father, .mother {
    font-size: 14px;
  }
  .father {
    color: #01A1FF;
  }
  .mother {
    color: #DA0861;
  }
}

.ancestors-img {
  position: relative;
  &:before {
    position: absolute;
    bottom: 10px;
    right: -6px;
    z-index: 28;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 26px;
  }
  img {
    margin: 0 auto 5px;
    border-radius: 50%;
  }
}

.ancestors-current-dog {
  .ancestors-img {
    flex-basis: 120px;
  }
  img {
    width: 120px;
    height: 120px;
  }
}

.ancestors-info {
  font-size: 12px;
  font-weight: 700;
  .dog-name {
    margin-bottom: 3px;
    text-transform: uppercase;
    display: inline-block;
  }
  .date {
    margin-left: 10px;
    display: inline-block;
  }
}

.ancestors-info-top {
  margin-bottom: 8px;
  .owners-wall-rates {
    margin-right: 10px;
    display: inline-block;
  }
}

.ancestors-2 {
  img {
    width: 100px;
    height: 100px;
  }
  .ancestors-info {
    width: 280px;
    top: 25px;
  }
}

.ancestors-3 {
  padding-top: 35px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  &:before, &:after {
    width: 2px;
    background-color: #b8b8b8;
    position: absolute;
    top: 0;
    content: '';
  }
  &:before {
    left: 40px;
    height: 30px;
  }
  &:after {
    right: 50px;
    height: 110px;
  }
}

.ancestors-3-column {
  img {
    width: 80px;
    height: 80px;
  }
  .ancestors-info {
    width: 330px;
    left: 90px;
    top: 15px;
  }
  .gender {
    position: absolute;
    bottom: -456px;
    display: flex;
    flex-direction: column;
    .father {
      margin-bottom: 80px;
    }
    div:after {
      margin-left: 9px;
      width: 12px;
      height: 2px;
      background-color: #b8b8b8;
      display: inline-block;
      vertical-align: middle;
      content: '';
    }
  }
}

.ancestors-4 {
  padding-top: 305px;
  padding-left: 60px;
  margin-bottom: 0;
  position: relative;
  list-style: none;
  &:before {
    width: 2px;
    height: calc(100% - 30px);
    background-color: #b8b8b8;
    position: absolute;
    top: 0;
    left: 40px;
    content: '';
  }
  li:not(:last-child) {
    margin-bottom: 40px;
  }
  img {
    width: 60px;
    height: 60px;
  }
  .ancestors-info {
    width: 290px;
    left: 70px;
    top: 15px;
  }
}

.ancestors-last {
  position: absolute;
  top: 115px;
  right: 0;
  padding-right: 5px;
  .ancestors-4:before {
    left: 40px;
  }

  .ancestors-info {
    width: 270px;
    right: 90px;
    top: 10px;
    left: auto;
    text-align: right;
  }
  .ancestors-4 {
    padding-top: 20px;
    padding-left: 0;
    .about-dog {
      left: -45px;
      position: relative;
    }
    .ancestors-info {
      top: 5px;
    }
  }
  .ancestors-3-column .gender {
    bottom: -174px;
    right: -3px;
    div {
      display: flex;
      align-items: center;
      span {
        order: 1;
      }
      &:after {
        margin: 0 10px 0 0;
      }
    }
  }
}

@include from('m') {
  .ancestors-wrap {
    .father, .mother {
      display: inline-block;
    }
  }
  .ancestors-current-dog {
    width: 180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .ancestors-info {
      width: 330px;
      top: 35px;
      left: 100%;
      margin-left: -20px;
    }
    .father, .mother {
      width: 50%;
      flex-basis: 50%;
      height: 30px;
      padding-top: 10px;
      border-bottom: 2px solid #b8b8b8;
      position: relative;
      &:before {
        width: 2px;
        height: 30px;
        background-color: #b8b8b8;
        content: '';
        position: absolute;
        top: 100%;
      }
    }
    .father {
      border-right: 1px solid #b8b8b8;
      &::before {
        left: 0;
      }
    }
    .mother {
      border-left: 1px solid #b8b8b8;
      text-align: right;
      &:before {
        right: 0;
      }
    }
    .gender {
      width: 100%;
    }
  }
  .ancestors-info {
    position: absolute;
  }
  .ancestors-2 {
    padding-top: 35px;
    > li {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      .father, .mother {
        height: 30px;
        line-height: 33px;
      }
    }
  }
  .ancestors-2-left {
    padding-right: 50px;
    padding-left: 40px;
    .father {
      flex-grow: 1;
    }
    .mother {
      padding-left: 6px;
      border-left: 2px solid #b8b8b8;
    }
    .ancestors-info {
      right: 150px;
    }
    .about-dog {
      text-align: right;
      margin-right: -10px;
    }
    .gender {
      border-bottom: 2px solid #b8b8b8;
      display: flex;
    }
  }
  .ancestors-2-right {
    padding-left: 50px;
    padding-right: 40px;
    .mother {
      flex-grow: 1;
      text-align: right;
    }
    .father {
      padding-right: 7px;
      border-right: 2px solid #b8b8b8;
    }
    .ancestors-info {
      left: 150px;
    }
    .about-dog {
      margin-left: -10px;
    }
    .gender {
      border-bottom: 2px solid #b8b8b8;
      display: flex;
    }
    + .ancestors-3 {
      margin-left: 10px;
      &:after {
        right: 40px;
      }
    }
  }
}

@include to('s') {
  .ancestors-list {
    position: relative;
    padding-left: 15px;
    &:before {
      width: 2px;
      height: calc(100% - 100px);
      border-left: 2px solid #b8b8b8;
      position: absolute;
      top: 55px;
      left: 0;
      content: '';
    }
  }
  .about-dog {
    display: flex;
    align-items: center;
  }
  .ancestors-info {
    padding-left: 10px;
    flex-grow: 1;
  }
  .gender {
    position: absolute;
  }
  .ancestors-current-dog {
    margin-bottom: 40px;
    .about-dog {
      &:before {
        width: 13px;
        height: 2px;
        position: relative;
        background-color: #b8b8b8;
        content: '';
      }
    }
    .gender {
      top: 150px;
      height: 160px;
      left: -5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .ancestors-2 {
    & > li {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  .ancestors-3 {
    display: none;
  }
}



