.edit-data {
  padding: 31px 0 10px;
  .h1 {
    padding-top: 1px;
  }
  fieldset {
    margin-bottom: 25px;
  }
  .col-three {
    @include from('m') {
      padding-left: 320px;
      width: 100%;
      @include clearfix;
    }
    @include to('xs') {
      width: 100%;
      padding: 0 10px;
      .radio {
        display: inline-block;
        margin-right: 15px;
        width: auto;
      }
    }
    li {
      margin-left: 0;
      @include from('s') {
        width: calc(100% / 3);
        margin-bottom: 0;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
      }
      @include to('xs') {
        &:not(:last-child):not(.radio) {
          margin-bottom: 5px;
        }
      }
    }
  }

  .col-double {
    @include from('m') {
      padding-left: 320px;
      width: 100%;
      @include clearfix;
    }
    @include to('xs') {
      width: 100%;
      float: none;
      padding: 0 10px;
      .radio {
        display: inline-block;
        margin-right: 15px;
        width: auto;
      }
    }
    li {
      margin-left: 0;
      @include from('s') {
        width: 50%;
        margin-bottom: 0;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
      }
      @include to('xs') {
        &:not(:last-child):not(.radio) {
          margin-bottom: 5px;
        }
      }
    }
  }

  @include from('m') {
    overflow-x: hidden;

    .form-label {
      width: 320px;
    }
    .text-info,
    .col-sm-8,
    .form-info {
      margin-left: 320px;
      float: none;
      width: auto;
    }
    .form-info {
      padding-right: 75px;
    }
    .text-info {
      padding-top: 10px;
    }
    .form-btn {
      position: absolute;
      right: 0;
      top: 0;
    }
    .form-group .radio {
      padding-top: 10px;
    }
  }

  &-photo {
    margin-bottom: 0;
    overflow: visible;
    .form-label {
      line-height: 1;
      margin-bottom: 0;
      @include from('m') {
        min-height: 51px;
      }
      @include between('xs', 's') {
        margin-bottom: 5px;
        padding-top: 0px;
      }
    }
    .upload-photo {
      @include clearfix;
      li {
        width: 80px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 5px;
        float: left;
        position: relative;
        &:first-child .file_upload {
          position: relative;
          &:before {
            position: absolute;
            z-index: 5;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 11px;
            height: 11px;
            transform: rotate(45deg);
            font-size: 11px;
          }
        }
      }

      &-option {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        .icon-cross {
          cursor: pointer;
          &:before {
            padding: 0 0 4px 4px;
            position: absolute;
            right: 4px;
            top: -4px;
            color: $color-pink;
            transition: all .3s ease;
          }
        }
        .icon-cross:hover {
          &:before {
            color: $color-orange;
          }
        }
        .icon-see {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.6);
          color: $color-azure;
          transition: all .3s ease;
          &:hover {
            color: $color-azure-light;
          }
        }
      }
      .option-hide {
        cursor: pointer;
        transition: all .3s ease;
        .upload-photo-option {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }

  textarea.form-control {
    height: 69px;
    resize: none;
    overflow: hidden;
    @include from('m') {
      &::-webkit-input-placeholder {
        padding-top: 22px
      }
      &:-ms-input-placeholder {
        padding-top: 22px;
      }
    }
  }

  .button-area {
    padding-top: 10px;
    text-align: center;
    @include to('s') {
      padding-left: 0;
      padding-right: 0;
      .btn {
        margin-bottom: 5px;
      }
    }
    @include at('s') {
      display: flex;
      justify-content: flex-end;
      .col-sm-4 {
        width: 100%;
        max-width: 238px;
      }
      .btn {
        display: inline-block;
      }
      .col-xs-12 {
        display: none
      }
    }
  }

  .form-group {
    @include to('xs') {
      overflow: visible;
    }
    .radio {
      @include between('xs', 's') {
        padding-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.file_upload {
  width: 100%;
  height: 45px;
  margin-bottom: 0;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 6;
  cursor: pointer;
  border: 2px dashed;
  color: $color-azure;
  transition: all .3s ease;
  &:hover {
    color: $color-azure-light;
  }
  input[type=file] {
    position: absolute;
    top: 0;
    opacity: 0
  }
}

.form-edit {
  @include at('s') {
    .form-label {
      padding-top: 10px;
    }
    &.form-group .form-info {
      padding-top: 0;
    }
  }
  @include at('xs') {
    .form-label {
      padding-top: 0;
    }
  }
  @include between('xs', 's') {
    .form-label {
      margin-bottom: 0;
    }
  }
  @include to('xs') {
    &.form-group .form-info {
      width: 100%;
      padding-top: 0;
    }
  }
}
