footer {
  padding: 0 0 15px;
  background-color: #ebebeb;
  z-index: 5;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 700;
  white-space: nowrap;
  ul {
    list-style: none;
    margin-bottom: 0;
  }
  .clearfix.text-right {
    padding: 0 10px;
  }
}

.pre-footer {
  padding: 0 10px 20px;
  margin: 0 0 25px;
  border-radius: 0 0 10px 10px;
  background-color: #f5f3f4;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

.footer-copy {
  margin-bottom: 0;
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 700;
  li:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer-links {
  margin-bottom: 0;
  font-size: 10px;
  font-weight: 700;
  list-style: none;
  li:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer-counters {
  img:not(:first-child) {
    margin-left: 20px;
  }
}
