.header-nav {
  height: 50px;
  @include from('m') {
    height: 70px;
  }
  &-wrap {
    display: inline-block;
    position: relative;
  }
  &-list {
    padding: 0 10px;
    position: relative;
    display: table;
    width: 100%;
    li {
      display: table-cell;
      text-align: center;
      white-space: nowrap;
      &:hover a {
        color: #000;
      }
    }
    .current {
      background: #cae3e8;
      background: -webkit-linear-gradient(#b9e9ea, rgba(0, 0, 0, 0));
      background: -o-linear-gradient(#b9e9ea, rgba(0, 0, 0, 0));
      background: -moz-linear-gradient(#b9e9ea, rgba(0, 0, 0, 0));
      background: linear-gradient(#b9e9ea, rgba(0, 0, 0, 0));
      a {
        color: #000000;
      }
    }
    a {
      font-size: 1.4rem;
      line-height: 1.8rem;
      padding: 25px 10px;
      margin: 1px 0;
      display: inline-block;
      color: #1497a7;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .nav-arrows li {
    &:before {
      bottom: 9px;
    }
    &[data-count] {
      &:not([data-count='']):before {
        color: #1497a7;
      }
      &:after {
        bottom: 18px;
        color: #ffffff;
        background: #1497a7;
      }
      &:hover:before {
        color: #6fd2db;
      }
    }
  }
}
