.header-nav {
  height: 50px;
  @include from('m') {
    height: 70px;
  }
  @media (max-width: 810px) {
    width: 100%;
    background: #ebebeb;
    clear: both;
  }
  .owl-next:after,
  .owl-prev:after {
    color: #fff;
    background: #1497a7
  }
  &-slider {
    display: inline-block;
    @include to('s') {
      display: block;
    }
  }
  a {
    font-size: 14px;
    line-height: 18px;
    padding: 25px 10px;
    margin: 1px 0;
    display: inline-block;
    color: #1497a7;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }

  .owl-next:before,
  .owl-prev:before {
    border-top-color: #1497a7;
    border-right-color: #1497a7
  }
}
