//@todo delete!
header {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: red;
  }
}

.login {
  margin: 10px 5px 0;
  @include to('xs') {
    margin-left: 0;
    margin-right: 0;
  }
  &__un-register {
    .login-avatar {
      margin: 0 10px 0 0;
      vertical-align: middle;
      line-height: 1;
      padding: 0;
      @include to('xs') {
        margin-right: 5px;
      }
    }
    li {
      padding: 15px 10px 15px 0;
      display: inline-block;
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
      @include to('xs') {
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
  &-avatar {
    width: 38px;
    height: 38px;
    margin: 5px 10px;
    position: relative;
    img {
      border-radius: 50%;
      position: relative;
      z-index: 5;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      border: 1px solid #fff;
    }
    .icon-user {
      position: absolute;
      width: 33px;
      height: 37px;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-size: 34px;
      z-index: 4;
      color: #ebebeb;
    }
  }
  &-actions {
    margin: 0 5px;
  }
  &-lang {
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
    li {
      display: inline-block;
      width: 28px;
      text-align: center;
    }
    a:hover {
      color: #000;
    }
  }
  &-options {
    &__item {
      display: inline-block;
      position: relative;
      margin: 8px 7px;
      font-size: 16px;
    }
    &-active:after {
      content: '';
      position: absolute;
      top: -5px;
      right: -5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ED5901;
    }
  }
}
