.personal-edit {
  /*  .container {
      @include from('m') {
        width: 960px;
      }
    }*/
  .modal-group {
    margin-bottom: 15px;
    @include clearfix;
  }
  .modal-content {
    padding: 15px 0 1px;
  }
  /*  .form-label {
      margin-bottom: 0;
      cursor: pointer;
    }*/
  .btn-azure {
    width: 100%;
  }
  /*  @include at('m') {
      .form-btn {
        padding-left: 0;
        padding-right: 0;
      }
    }*/

  .form-edit {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    .form-info:not(.radio) {
      @include to('s') {
        padding-top: 0;
        line-height: 1.4;
      }
    }
    .form-label {
      width: 80px;
      @include to('s') {
        &:not(.text-line-1) {
          line-height: 1;
        }
      }
    }
    .form-text {
      display: flex;
      @include to('s') {
        flex-direction: column;
      }
    }
    .form-btn {
      width: 140px;
      padding: 0;
      display: flex;
      @include to('xs') {
        flex-direction: column;
        align-items: flex-end;
      }
      .btn {
        width: 60px;
        margin-left: 10px;
        @include to('xs') {
          &:not(:last-of-type) {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  @include to('s') {
    .modal-footer {
      .form-info {
        margin-bottom: 5px;
        & ~ div:not(:last-of-type) {
          margin-bottom: 5px;
        }
      }
    }
  }
}
