.personal-data {
  padding: 35px 0;
  @include at('m') {
    overflow-x: hidden;
    .form-group:not(.personal-data__map) {
      position: relative;
      padding-right: 75px;
    }
    .form-label {
      min-width: 300px;
    }
    .form-info {
      margin-left: 300px;
      float: none;
      padding-right: 40px;
    }
    .form-btn {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .form-group {
    @include clearfix;
  }

  /* .personal-data__map */
  &__map {
    position: relative;
    .btn-azure {
      width: 220px;
      position: absolute;
      top: 10px;
      right: 10px;
      font-weight: 700;
    }
    .list-data {
      display: block;
    }
  }

  /* .personal-data-active */
  &-active {
    padding-top: 5px;
    padding-left: 10px;
    clear: left;
    @include to('s') {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
    }
    @include at('m') {
      margin-left: 300px;
      padding-right: 80px;
      width: auto;
    }
  }

  .radio {
    white-space: nowrap;
  }
}
