.personal-edit {
  .container {
    @include from('m') {
      width: 960px;
    }
  }
  .personal-data__group {
    margin-bottom: 15px;
  }
  .modal-content {
    padding: 15px 0 1px;
  }
  .label-block {
    margin-bottom: 0;
    cursor: pointer;
  }
  .btn-azure {
    width: 100%;
  }
  @include to('m') {
    .personal-data-btn {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
